<% content_for :header do -%>
   Editing Administrator
<% end -%>

<% form_for([:admin, @administrator] ,:html => { :multipart => true }) do |f| %>
   <%= image_tag (@administrator.administrator_profile.administrator_logo.url(:thumb)) %>
      <% f.fields_for :administrator_profile do |administrator_profile_form| %>
           Change Administrator Logo : <%= administrator_profile_form.file_field  :administrator_logo   %>
       <%end%>
    <br/>
    <br/>


     <table class ='form-table'>
        <tr class= 'table-top'> <td colspan='2' > Enter Login Details: </td> </tr>
       <tr><th> Login  :</th> <td> <%= in_place_editor_field :administrator, 'login' %> </td> </tr>
       <tr><th> User ID : </th> <td><%=  h(@administrator.id) %> </td> </tr>
       <tr> <th> Email : </th> <td> <%= in_place_editor_field :administrator, 'email' %></td></tr>
       <tr> <th> Password : </th> <td><%= "#{"*"*8} <small>#{link_to_if !@administrator.deleted?, "send new password",  reset_password_admin_administrator_path(@administrator.id) ,:method => :put }</small>" %></td></tr>
       <tr> <th> Account created </th> <td><%=  @administrator.created_at.to_s(:long) %> </td> </tr>
	     <tr> <th> Last updated : </th> <td> <%=  @administrator.updated_at.to_s(:long) %> </td> </tr>



    <% f.fields_for :administrator_profile do |administrator_profile_form| %>
      <tr class= 'table-top'> <td colspan='2' > Enter Personal Details: </td> </tr>
        <tr><th>Profile Name :</th><td><%= administrator_profile_form.text_field :name ,:class =>"textbox" %>
        <tr><th> First Name :</th><td> <%= administrator_profile_form.text_area :first_name ,:class =>"textbox"%></td></tr>
        <tr><th> Mid Name :</th><td> <%= administrator_profile_form.text_area :mid_name ,:class =>"textbox"%></td></tr>
        <tr><th> Last Name :</th><td><%= administrator_profile_form.text_area :last_name ,:class =>"textbox" %></td></tr>
        <tr><th>Corporation Name :</th><td><%= administrator_profile_form.text_field :corp_name ,:class =>"textbox" %>
        <tr><th>Email :</th><td><%= administrator_profile_form.text_field :emails_extra ,:class =>"textbox" %>
        <tr><th>Fax :</th><td><%= administrator_profile_form.text_field :fax ,:class =>"textbox" %>
          <tr><th>Phone :</th><td> <%= administrator_profile_form.text_field :phone_1 ,:class =>'textbox-tiny' %>-<%= administrator_profile_form.text_field :phone_2,:class =>'textbox-tiny'  %>-<%= administrator_profile_form.text_field :phone_3,:class =>'textbox-tiny'  %></td></tr>

       <tr> <th>Comments:</th><td> <%= administrator_profile_form.text_area :comments,:class =>'textbox'  %></td></tr>
       <tr> <th>Datasource username:</th><td> <%= administrator_profile_form.text_field :datasource_username,:class =>'textbox'  %></td></tr>
       <tr> <th>Datasource password:</th><td> <%= administrator_profile_form.text_field :datasource_password,:class =>'textbox'  %></td></tr>




     <%end%>


      <% f.fields_for :address do |address_form| %>
      <tr class= 'table-top'> <td colspan='2' > Enter Address Details: </td> </tr>
         <tr> <th> Address: </th><td> <%= address_form.text_field :address ,:class =>'textbox'%> </td></tr>
         <tr> <th> City:</th><td> <%= address_form.text_field :city ,:class =>'textbox'%> </td></tr>
         <tr> <th>State:</th><td> <%= address_form.text_field :state ,:class =>'textbox'%> </td></tr>
        <tr> <th>Zip:</th><td> <%= address_form.text_field :postal_code ,:class =>'textbox'%> </td></tr>
      </table>
  <% end %>

<br/>
    <%= f.submit 'Update profile' %>

<% end %>

<br /> <br />

<%= link_to_remote "Active Dealer Email" ,:url => { :controller => "admin/administrators" ,:action => :dispaly_administrator_setting ,:identifier =>"active_dealer_email",:id =>@administrator.id} , :indicator => 'default'%> <b>| </b>

<%= link_to_remote "Inactive Dealer Email" ,:url => { :controller => "admin/administrators" ,:action => :dispaly_administrator_setting ,:identifier =>"inactive_dealer_email",:id =>@administrator.id} , :indicator => 'default' %> <b>| </b>

<%= link_to_remote "Disclaimer Content" ,:url => { :controller => "admin/administrators" ,:action => :dispaly_administrator_setting ,:identifier =>"disclaimer_content",:id =>@administrator.id}, :indicator => 'default' %> <b>| </b>
<%= indicator :id => 'default' %>
<div id="administrator_settings">

</div>

<br />
<br />
<br />

