<% content_for :header do -%>
 	<%= configatron.site_name %> Account for <em><%=h @administrator.login %></em>
<% end -%>

<% content_for :sidebar do -%>

<h2>Account status: <%= @administrator.state.to_s.humanize %></h2>

<ul>
	<% if @administrator.pending? -%>
		<li><%= link_to "Activate", activate_admin_administrator_url(@administrator), :method => :put %></li>
		<li><%= link_to "Suspend", suspend_admin_administrator_url(@administrator), :method => :put %></li>
		<li><%= link_to "Delete", admin_administrator_url(@administrator), :method => :delete %></li>
	<% end -%>

	<% if @administrator.suspended? -%>
		<li><%= link_to "Unsuspend", unsuspend_admin_administrator_url(@administrator), :method => :put %></li>
	<% end -%>

	<% if @administrator.active? -%>
		<li><%= link_to "Suspend", suspend_admin_administrator_url(@administrator), :method => :put %></li>
		<li><%= link_to "Delete", admin_administrator_url(@administrator), :method => :delete, :confirm => "Are you sure you want to delete this account?" %></li>
	<% end -%>

	<% # TODO: Uncomment to enable user purging by the administrator %>
	<!--
	<% if @administrator.deleted? -%>
		<li><%= link_to "Purge", purge_admin_administrator_url(@administrator), :method => :delete, :confirm => "Are you sure you want to remove this account, and all data associated with it from base_app?" %></li>
	<% end -%>
    -->
</ul>
<% end -%>

   <%= image_tag (@administrator.administrator_profile.administrator_logo.url(:thumb)) %>
   <br/>


<table class="form-table">
  <tr class= 'table-top'> <td colspan='2' > Login Details: </td> </tr>
 	<tr> <th>Login : </th> <td><%= "#{in_place_editor_field :administrator, 'login'}" %></td></tr>
	<tr> <th> User ID : </th><td> <%=  h(@administrator.id) %></td></tr>

	<tr> <th> Email :</th> <td> <%=  "#{in_place_editor_field :administrator, 'email'}" %></td></tr>
	<tr> <th>Password :</th> <td> <%=  "#{"*"*8} <small>#{link_to_if !@administrator.deleted?, "send new password", reset_password_admin_administrator_url(@administrator), :method => :put}</small>" %>

	<tr><th>Account created :</th> <td> <%=  @administrator.created_at.to_s(:long) %> </td></tr>
	<tr><th> Last updated :</th> <td> <%=  @administrator.updated_at.to_s(:long) %></td></tr>
	<tr class= 'table-top'> <td colspan='2' > Personal Details: </td> </tr>
    <tr><th> Profile Name : </th><td><%= @administrator.administrator_profile.name %> </td></tr>
    <tr><th> First Name :</th><td> <%=  @administrator.administrator_profile.first_name%> </td></tr>
    <tr><th> Mid Name :</th><td><%=  @administrator.administrator_profile.mid_name%> </td></tr>
    <tr><th> Last Name :</th><td><%=  @administrator.administrator_profile.last_name %> </td></tr>
    <tr><th>Corporation Name :</th><td><%=  @administrator.administrator_profile.corp_name%> </td></tr>
    <tr><th>Email :</th><td><%=  @administrator.administrator_profile.emails_extra%> </td></tr>
    <tr><th>Fax :</th><td><%=  @administrator.administrator_profile.fax%> </td></tr>
    <tr><th>Phone :</th><td><%=  @administrator.administrator_profile.phone_1%>-<%=  @administrator.administrator_profile.phone_2%>-<%=  @administrator.administrator_profile.phone_3%> </td></tr>
    <tr><th>Comments:</th><td><%=  @administrator.administrator_profile.comments %> </td></tr>
    <tr><th>Marketernet username:</th><td><%=  @administrator.administrator_profile.datasource_username %> </td></tr>
    <tr><th>Marketernet password:</th><td><%=  @administrator.administrator_profile.datasource_password %> </td></tr>
    <tr class= 'table-top'> <td colspan='2' > Address Details: </td> </tr>
    <tr> <th> Address: </th><td><%= @administrator.address.address %> </td></tr>
    <tr> <th> City:</th><td> <%= @administrator.address.city%> </td></tr>
    <tr> <th>State:</th><td><%= @administrator.address.state %> </td></tr>
    <tr> <th>Zip:</th><td><%= @administrator.address.postal_code %> </td></tr>


    </table>
<br/>

<%= link_to 'Edit', edit_admin_administrator_path(@administrator) %> |
<%= link_to 'Back', admin_administrators_path %>

