<% if @profile.nil? -%>
	<% content_for :header do -%>
		Profile Not be Found
	<% end -%>
	<p> The profile you requested does not exist. </p>
<% else -%>
	<% content_for :header do -%>
		Editing My Profile
	<% end -%>

	<%= render :partial => 'profiles/my_account' if current_user == @user %>

	<% unless @profile.user.not_using_openid? %>
	<p>
		This is your <%= configatron.site_name %> profile. It's not related to your OpenID Identity.
	</p>
	<% end %>

<% form_for :profile, @profile, :url => profile_url(@user), :html => {:method => :put} do |f| %>
  <%= f.error_messages %>


    <table class ='form-table'>
        <tr class= 'table-top'> <td colspan='2' > Enter Personal Details: </td> </tr>
            <tr><th>Name: </th><td>
            <%= f.text_field :name ,:class =>'textbox'%></td></tr>
           <tr> <th>Authentication Code :</th> <td>  <%= f.text_field :auth_code ,:disabled => true ,:class =>"textbox" %> </td> </tr>
        <tr><th>
      	   E-mail(s) ( XML, use ";" as delimiter ):</th><td>
       		<%= f.text_area :emails_xml ,:class =>"textarea" %></td></tr>
        <tr><th>E-mail(s) ( HTML, use ";" as delimiter ):</th><td>
       <%= f.text_area :emails_html ,:class =>"textarea"%></td></tr>
      <tr><th>Extra E-mail(s) ( use ";" as delimiter ):</th><td>
       <%= f.text_area :emails_extra ,:class =>"textarea"%></td></tr>
      <tr><th>First name:</th><td>
       <%= f.text_field :first_name ,:class =>'textbox' %></td></tr>
      <tr><th>Mid name:</th><td>
       <%= f.text_field :mid_name ,:class =>'textbox'%></td></tr>
      <tr><th>Last name:</th><td>
       <%= f.text_field :last_name ,:class =>'textbox'%></td></tr>
      <tr><th>Phone:</th><td>
       <%= f.text_field :phone_1 ,:class =>'textbox-tiny'%>-<%= f.text_field :phone_2,:class =>'textbox-tiny' %>-<%= f.text_field :phone_3,:class =>'textbox-tiny' %></td></tr>
      <tr> <th>Used data source:</th> <td>
       <%= f.select :data_sources, [['Select' , ''], ['seekerinc', 'seekerinc'], ['marketernet', 'marketernet']] %> </td></tr>
      <tr><th>MarketerNet PO:</th><td>
       <%= f.text_field :marketer_net_po ,:class =>'textbox' %></td></tr>
      <tr><th>Wants data printed:</th><td>
       <%= f.select :wants_data_printed, [['Select' , ''], ['Yes', 1], ['No', 0]] %></td></tr>
      <tr><th>Comments:</th><td>
       <%= f.text_area :comments ,:class =>"textarea" %></td></tr>

        <%fields_for :address do |p| %>
        <tr class= 'table-top'> <td colspan='2' > Enter Address Details: </td> </tr>

      <tr><th>Address:</th><td>
       <%= p.text_field :address ,:class =>'textbox' %></td></tr>
     <tr><th>City:</th><td>
       <%= p.text_field :city ,:class =>'textbox' %></td></tr>
     <tr><th>State:</th><td>
       <%= p.text_field :state ,:class =>'textbox' %></td></tr>
     <tr><th>Zip:</th><td>
       <%= p.text_field :postal_code ,:class =>'textbox'  %></td></tr>
     </table>
  <% end %>


 <br/>



	<%= submit_tag "Save changes" %>
<br />
	<% end %>
<% end -%>
