<% form_tag("/admin/dealers/assign_administrator/#{@dealer.id}" ,:method =>:get ) do  %>
<br/>
   <b> <center><label> Dealer : <%= @dealer.profile.name %> </label> </center></b><br/><br/>

<table class ="form-table" >
  <tr> <th> Select an Administrator : </th>
   <td>
      <%= select :administrator, :id, [['Select a Administrator','']]+ Administrator.administrators_list,:selected => @dealer.administrator_id %> 
   </td>
  </tr>
</table>

<input id="page" name="page" type="hidden" value="<%=h@page%>" />
<input id="per_page" name="per_page" type="hidden" value="<%=h @per_page%>" />
<br/>
<br/>
<%= submit_tag "Assign" %>

<%end%>
