<% content_for :header do -%>
  Listing all dealers
<% end -%>

<table class='listing'>
  <tr>
 	<th> ID</th>
 	<th> Name </th>
        <th> Email </th>
 	<th> Contact Number </th>
 	<th> CSV UPLOAD </th>
 	<th> QD Fields </th>
  </tr>
<% @dealers.each do |dealer| %>
       <tr>
         <td> <%= dealer.id %> </td>
         <td> <%= dealer.profile.name %> </td>
         <td> <%= dealer.email %> </td>
         <td> <%= dealer.profile.phone_1 %></td>
         <td> <%= render :partial => 'csv_upload', :locals => {:dealer => dealer} %></td>
         <td> <%= link_to "QD Fields" , dealer_fields_new_admin_dealer_path(dealer.id) , :rel=> "facebox" %>  </td>
       </tr>

<% end %>
</table>

<br />

<%= link_to 'New dealer', new_admin_dealer_path %>
