<% content_for :header do -%>
   Listing all dealer records
<% end -%>

<div id = 'top-links' >
   <span id = 's'>
     <%= image_tag('zoom.png') %><%= link_to_function 'Show search bar', "Element.show('search-bar'); Element.show('h'); Element.hide('s'); return false;" %> 
   </span>

   <span id = 'h' style ="display:none">
      <%= image_tag('magifier_zoom_out.png') %><%= link_to_function "Hide search bar", "Element.hide('search-bar'); Element.show('s'); Element.hide('h');return false;" %> 
   </span>
  
    
 </div>

   <div id = 'search-bar' style ="display:none; clear: both;"> <%=render :partial=> 'filters'%> </div>
<br />
<div id='dealer-list' style = "clear: both;">
   <%=render :partial=> 'dealers_list'%>
</div>

<br />
   <center><%= link_to(image_tag('excel.png', :border => '0'),  admin_dealers_path(:format => "csv" ,:type =>"all")  )%> &nbsp;
<%= link_to "Export This Page to CSV",  admin_dealers_path(:format => "csv",:type =>"all") %> &nbsp;<b>|</b>&nbsp;
<%= link_to(image_tag('excel.png', :border => '0'),  admin_dealers_path(:format => "csv" , :search => @params)  )%> &nbsp;
<%= link_to "Export Selected Dealers to CSV",  admin_dealers_path(:format => "csv", :search => @params) %> &nbsp;<b>|</b>&nbsp;
<%= link_to "Import Dealer CSV",  import_dealer_csv_admin_dealers_path(),:rel =>"facebox" %>


</center> <br/>
