<% content_for :header do -%>
   New dealer
<% end -%>

<% form_for([:admin, @dealer]) do |f| %>
  <%= f.error_messages %>

       <br/>
         <table class ='form-table'> <tr> <th> Login : </th><td> <%= f.text_field :login ,:class =>'textbox' %> </td></tr>
                 <tr> <th> Contact Email : </th><td> <%= f.text_field :email ,:class =>'textbox'  %> </td></tr>
                 <tr> <th>Password : </th> <td> <%= f.password_field :password ,:class => 'textbox'%> </td></tr>
         <tr> <th> Confirm Password : </th> <td> <%= f.password_field :password_confirmation ,:class => 'textbox'%></td></tr>

 		 </table>


       <% f.fields_for :profile do |profile_form| %>
            <table class ='form-table'>
            <tr> <th>Name:</th><td> <%= profile_form.text_field :name ,:class =>'textbox'  %> </td></tr>
            <tr> <th>E-mail(s) ( XML, use ";" as delimiter ):</th><td>
       	                                  <%= profile_form.text_area :emails_xml ,:class =>'textarea'%></td></tr>
            <tr> <th>E-mail(s) ( HTML, use ";" as delimiter ):</th><td>
                                         <%= profile_form.text_area :emails_html %></td></tr>
            <tr> <th>Extra E-mail(s) ( use ";" as delimiter ):</th><td>
                                        <%= profile_form.text_area :emails_extra %></td></tr>
            <tr> <th>First name:</th><td>
                                         <%= profile_form.text_area :first_name  %></td></tr>
            <tr> <th>Mid name:</th><td>
                                           <%= profile_form.text_area :mid_name   %></td></tr>
            <tr> <th>Last name:</th><td>
                                          <%= profile_form.text_area :last_name  %></td></tr>
            <tr> <th>Phone:</th><td>
       <%= profile_form.text_field :phone_1 ,:class =>'textbox-tiny' %>-<%= profile_form.text_field :phone_2,:class =>'textbox-tiny'  %>-<%= profile_form.text_field :phone_3,:class =>'textbox-tiny'  %></td></tr>

        <tr><th>Text Body 1  </th><td> <%= profile_form.text_area :text_body_1 %>  </td> </tr>
       <tr><th>Text Body 2  </th><td> <%= profile_form.text_area :text_body_2 %> </td> </tr>
       <tr><th>Text Body 3  </th><td> <%= profile_form.text_area :text_body_3 %> </td> </tr>
       <tr><th>Variable Data 4</th><td><%= profile_form.text_field :variable_data_4 ,:class => 'textbox'%></td> </tr>
       <tr><th>Variable Data 5 </th><td><%= profile_form.text_field :variable_data_5 ,:class => 'textbox'%> </td> </tr>
       <tr><th>Variable Data 6 </th><td><%= profile_form.text_field :variable_data_6 ,:class => 'textbox'%> </td> </tr>
       <tr><th>Variable Data 7 </th><td><%= profile_form.text_field :variable_data_7 ,:class => 'textbox'%> </td> </tr>
       <tr><th>Variable Data 8 </th><td> <%= profile_form.text_field :variable_data_8 ,:class => 'textbox'%></td> </tr>
       <tr><th>Variable Data 9 </th><td><%= profile_form.text_field :variable_data_9 ,:class => 'textbox'%> </td> </tr>
       <tr> <th>Used data sources ( use ";" as delimiter ), available: seekerinc, marketernet:</th><td>
                             <%= profile_form.select :data_sources, [['Select' , ''], ['seekerinc', 'seekerinc'], ['marketernet', 'marketernet']] %></td></tr>
            <tr> <th>MarketerNet PO:</th><td>
                                    <%= profile_form.text_field :marketer_net_po, :class =>'textbox'  %></td></tr>
            <tr> <th>Wants data printed:</th><td>
                   <%= profile_form.select :wants_data_printed, [['Select' , ''], ['Yes', 'Yes'], ['No', 'No']]  %></td></tr>
            <tr> <th>Comments:</th><td>
                           <%= profile_form.text_area :comments,:class =>'textbox'  %></td></tr>
     </table>
     <br/>

      <% end %>

       <br/>
        <% f.fields_for :address do |address_form| %>
      <table class ='form-table'>
         <tr> <th> Address: </th><td> <%= address_form.text_field :address, :class =>'textbox' %> </td></tr>
         <tr> <th> City:</th><td> <%= address_form.text_field :city, :class =>'textbox' %> </td></tr>
         <tr> <th>State:</th><td> <%= address_form.text_field :state, :class =>'textbox' %> </td></tr>
        <tr> <th>Zip:</th><td> <%= address_form.text_field :postal_code, :class =>'textbox' %> </td></tr>
      </table>
  <% end %>
     <br/>









  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_dealers_path %>
