 
      <br />
      <div style = "height: 1400px; width: 850px; background: url(/images/print-file/Letter_Master_print.gif)" > 
         
         
        <p style = "position: absolute; margin: 250px 0px 0px 140px;" >    
            <%= text_field_tag 'values[first_para_x]', @positions['first_para_x'] || '77', :class =>'textbox-thick' %>  
            <%= text_field_tag 'values[first_para_y]', @positions['first_para_y'] || '875', :class =>'textbox-thick' %> 
         </p>
         
         
         <p style = "position: absolute; margin: 335px 0px 0px 140px;" >  
            <%= text_field_tag 'values[sec_para_x]', @positions['sec_para_x'] || '77', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[sec_para_y]',@positions['sec_para_y'] || '813', :class =>'textbox-thick' %> 
         </p>
         
           <p style = "position: absolute; margin: 500px 0px 0px 140px;" >
            <%= text_field_tag 'values[third_para_x]',@positions['third_para_x'] || '77',:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[third_para_y]',@positions['third_para_y'] ||'698', :class =>'textbox-thick' %>
         </p>
                  
         <p style = "position: absolute; margin: 1200px 0px 0px 150px;" >
            <%= text_field_tag 'values[address_x]', @positions['address_x'] ||'110',:class =>'textbox-thick' %>   
            <%= text_field_tag 'values[address_y]', @positions['address_y'] ||'148', :class =>'textbox-thick' %> 
         </p>
   
                
         <p style = "position: absolute; margin: 670px 0px 0px 250px;" >
            <%= text_field_tag 'values[dealer_details_x]',@positions['dealer_details_x'] ||'100', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[dealer_details_y]',@positions['dealer_details_y'] ||'620', :class =>'textbox-thick' %>  
         </p>
   
          <p style = "position: absolute; margin: 450px 0px 0px 572px; " >
            <%= text_field_tag 'values[rightbox1_x]',@positions['rightbox1_x'] ||'405', :class =>'textbox-thick' %>     
            <%= text_field_tag 'values[rightbox1_y]',@positions['rightbox1_y'] ||'740', :class =>'textbox-thick' %>
         </p>
         
          <p style = "position: absolute; margin: 545px 0px 0px 572px; " >
            <%= text_field_tag 'values[rightbox2_x]', @positions['rightbox2_x'] ||'449', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[rightbox2_y]', @positions['rightbox2_y'] ||'670', :class =>'textbox-thick' %>  
         </p>
          
         <p style = "position: absolute; margin: 620px 0px 0px 572px; " >
            <%= text_field_tag 'values[rightbox3_x]', @positions['rightbox3_x'] ||'449', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[rightbox3_y]', @positions['rightbox3_y'] ||'610', :class =>'textbox-thick' %>  
         </p>
		  
      </div>
