 <table class ='form-table'> 
         <tr> <td> Enter shell dimension (in points): </td> 
         <th> Width : </th><td> <%= text_field_tag 'values[width]', '612', :class =>'textbox-tiny' %> </td>
         <th> Height : </th><td> <%= text_field_tag 'values[height]', '935', :class =>'textbox-tiny'  %> </td></tr> 
         <tr><td>Enter barcode background color</td>    
             <td colspan = '4'> <%= text_field_tag 'values[bg_color]', '#ffffff', :class =>'textbox-small'  %>&nbsp; eg: #ffffff </td>
         </tr> 
     </table>
      <br />
      <div style = "height: 1298px; width: 848px; background: url(/images/print-file/WSAC_print.gif)" > 
         <p style = "position: absolute; margin: 200px 0px 0px 140px;" >
            <%= text_field_tag 'values[address_x]', '70',:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[address_y]', '812', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 200px 0px 0px 600px;" >  
            <%= text_field_tag 'values[offer_x]', '377',:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[offer_y]', '850', :class =>'textbox-thick' %>  
         </p>
         <p style = "position: absolute; margin: 365px 0px 0px 140px;" >
            <%= text_field_tag 'values[first_para_x]', '70', :class =>'textbox-thick' %>  
            <%= text_field_tag 'values[first_para_y]', '687', :class =>'textbox-thick' %> 
         </p>
         <p style = "position: absolute; margin: 480px 0px 0px 140px;" >
            <%= text_field_tag 'values[sec_para_x]', '70',:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[sec_para_y]', '592', :class =>'textbox-thick' %> 
         </p>
                
         <p style = "position: absolute; margin: 830px 0px 0px 190px;" >
            <%= text_field_tag 'values[dealer_details_x]', '60', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[dealer_details_y]', '290', :class =>'textbox-thick' %>  
         </p>
          
          
         <p style = "position: absolute; margin: 470px 0px 0px 620px; " >
            <%= text_field_tag 'values[rightbox1_x]', '447', :class =>'textbox-thick' %>    
            <%= text_field_tag 'values[rightbox1_y]', '607', :class =>'textbox-thick' %>
         </p>
          <p style = "position: absolute; margin: 555px 0px 0px 620px; " >
            <%= text_field_tag 'values[rightbox2_x]', '447', :class =>'textbox-thick' %>  
            <%= text_field_tag 'values[rightbox2_y]', '547', :class =>'textbox-thick' %>  
         </p>
          <p style = "position: absolute; margin: 680px 0px 0px 620px; " >
            <%= text_field_tag 'values[rightbox3_x]', '447', :class =>'textbox-thick' %>  
            <%= text_field_tag 'values[rightbox3_y]', '457', :class =>'textbox-thick' %>  
         </p>
          <p style = "position: absolute; margin: 780px 0px 0px 620px; " >
            <%= text_field_tag 'values[rightbox4_x]', '447', :class =>'textbox-thick' %>  
            <%= text_field_tag 'values[rightbox4_y]', '387', :class =>'textbox-thick' %>  
         </p>
          
          
         <p style = "position: absolute; margin: 1100px 0px 0px 170px;" >
            <%= text_field_tag 'values[dealer_x]', '135', :class =>'textbox-thick' %>   
            <%= text_field_tag 'values[dealer_y]', '130', :class =>'textbox-thick' %>  
         </p>
         <p style = "position: absolute; margin: 1050px 0px 0px 600px;" >
            <%= text_field_tag 'values[date_x]', '462', :class =>'textbox-thick' %>  
            <%= text_field_tag 'values[date_y]', '163', :class =>'textbox-thick' %>
         </p>
		  
      </div>
