 <table class ='form-table'> 
         <tr class= 'table-top'> <td c> Enter shell dimension: </td> 
         <th> Width : </th><td> <%= text_field_tag 'values[width]', '612', :class =>'textbox-tiny' %> </td>
         <th> Height : </th><td> <%= text_field_tag 'values[height]', '935', :class =>'textbox-tiny'  %> </td></tr>     
     </table>
      <br />
      <div style = "height: 1298px; width: 848px; background: url(/images/print-file/crediplex_print.gif)" > 
         <p style = "position: absolute; margin: 200px 0px 0px 140px;" >
            <%= text_field_tag 'values[address_x]', '115',:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[address_y]', '810', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 200px 0px 0px 600px;" >
            <%= text_field_tag 'values[offer_x]', '386',:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[offer_y]', '835', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 365px 0px 0px 140px;" >
            <%= text_field_tag 'values[first_para_x]', '50', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[first_para_y]', '680', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 480px 0px 0px 140px;" >
            <%= text_field_tag 'values[sec_para_x]', '50',:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[sec_para_y]', '620', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 580px 0px 0px 140px;" >
            <%= text_field_tag 'values[third_para_x]', '50',:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[third_para_y]', '555', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 700px 0px 0px 140px;" >
            <%= text_field_tag 'values[box_x]', '50', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[box_y]', '430', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 830px 0px 0px 190px;" >
            <%= text_field_tag 'values[dealer_details_x]', '60', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[dealer_details_y]', '290', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 950px 0px 0px 140px;" >
            <%= text_field_tag 'values[note_x]', '30', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[note_y]', '250', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 1100px 0px 0px 170px;" >
            <%= text_field_tag 'values[dealer_x]', '132', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[dealer_y]', '120', :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 1050px 0px 0px 600px;" >
            <%= text_field_tag 'values[date_x]', '460', :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[date_y]', '158', :class =>'textbox-thick' %>
         </p>
		  </div>
