
      <br />
      <div style = "height: 1298px; width: 848px; background: url(/images/print-file/crediplex_print.gif)" > 
         <p style = "position: absolute; margin: 200px 0px 0px 140px;" >
            <%= text_field_tag 'values[address_x]', @positions['address_x'].blank? ? '115' : @positions['address_x'] ,:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[address_y]', @positions['address_y'].blank? ? '810' : @positions['address_y'] , :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 200px 0px 0px 600px;" >
            <%= text_field_tag 'values[offer_x]', @positions['offer_x'].blank? ? '386' : @positions['offer_x']  ,:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[offer_y]', @positions['offer_y'].blank? ? '835' : @positions['offer_y'] , :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 365px 0px 0px 140px;" >
            <%= text_field_tag 'values[first_para_x]',@positions['first_para_x'].blank? ? '50' : @positions['first_para_x']  , :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[first_para_y]',@positions['first_para_y'].blank? ? '680' : @positions['first_para_y'] , :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 480px 0px 0px 140px;" >
            <%= text_field_tag 'values[sec_para_x]',@positions['sec_para_x'].blank? ? '50' : @positions['sec_para_x'] ,:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[sec_para_y]',@positions['sec_para_y'].blank? ? '620': @positions['sec_para_y'] , :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 580px 0px 0px 140px;" >
            <%= text_field_tag 'values[third_para_x]', @positions['third_para_x'].blank? ? '50' : @positions['third_para_x'],:class =>'textbox-thick' %> 
            <%= text_field_tag 'values[third_para_y]', @positions['third_para_y'].blank? ? '555' : @positions['third_para_y'] , :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 700px 0px 0px 140px;" >
            <%= text_field_tag 'values[box_x]',@positions['box_x'].blank? ? '50' : @positions['box_x']  , :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[box_y]',@positions['box_y'].blank? ? '430' : @positions['box_y']  , :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 830px 0px 0px 190px;" >
            <%= text_field_tag 'values[dealer_details_x]',@positions['dealer_details_x'].blank? ? '60': @positions['dealer_details_x']  , :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[dealer_details_y]',@positions['dealer_details_y'].blank? ? '290':@positions['dealer_details_y']  , :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 950px 0px 0px 140px;" >
            <%= text_field_tag 'values[note_x]',@positions['note_x'].blank? ? '30': @positions['note_x'] , :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[note_y]',@positions['note_y'].blank? ? '250' : @positions['note_y'] , :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 1100px 0px 0px 170px;" >
            <%= text_field_tag 'values[dealer_x]', @positions['dealer_x'].blank? ? '132' : @positions['dealer_x'] , :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[dealer_y]',  @positions['dealer_y'].blank? ? '120' : @positions['dealer_y'], :class =>'textbox-thick' %>
         </p>
         <p style = "position: absolute; margin: 1050px 0px 0px 600px;" >
            <%= text_field_tag 'values[date_x]', @positions['date_x'].blank? ? '460' : @positions['date_x'] , :class =>'textbox-thick' %> 
            <%= text_field_tag 'values[date_y]', @positions['date_y'].blank? ? '158' : @positions['date_y'] , :class =>'textbox-thick' %>
         </p>
		  </div>
