<% content_for :header do -%>
   Setting up shell content positions for printing
<% end -%>
<span>Enter the x and y co-ordinate values for each content part(in points). Refer <%=link_to 'Co-ordinate matrix shell layout', shell_matrix_html_url %> or <%=link_to 'Points conversion table', '#conversion-table', :rel => 'facebox' %> for help: </span>
<br /><br />
<div id = 'conversion-table' style = 'display: none'>
  <table class ="form-table">
   	 <tr>
  	    <td colspan = '3' class='table-top'>Inch and mm to points conversion</td> 	
	 </tr>	
	 
	 <tr>
		<td><%= text_field_tag 'inches', '8.5', :class => 'textbox-tiny' %> inches </td>
		<td><%= link_to_function "<span><b>=</b></span>", "$('points').value = $('inches').value * 72;",  :class => 'button' %></td>
		<td><%= text_field_tag 'points', '612', :class => 'textbox-tiny' %> points</td>
	 </tr>
	 
	 <tr>
		<td><%= text_field_tag 'mm', '216', :class => 'textbox-tiny' %> mm </td>
		<td><%= link_to_function "<span><b>=</b></span>", "$('points1').value = $('mm').value * 2.8334;",  :class => 'button' %></td>
		<td><%= text_field_tag 'points1', '612', :class => 'textbox-tiny' %> points</td>
	 </tr>
	 
	 <tr>
		<td><%= text_field_tag 'cm', '21.59', :class => 'textbox-tiny' %> cm </td>
		<td><%= link_to_function "<span><b>=</b></span>", "$('points2').value = $('cm').value * 28.346;",  :class => 'button' %></td>
		<td><%= text_field_tag 'points2', '612', :class => 'textbox-tiny' %> points</td>
	 </tr>
   </table>
</div>

<% form_for([:admin, @dealer, @shell_dimension],:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>   
      <table class ='form-table'> 
         <tr> <td> Enter shell dimension (in points): </td> 
         <th> Width : </th><td> <%= text_field_tag 'values[width]',@positions['width'] || '612' , :class =>'textbox-tiny' %> </td>
         <th> Height : </th><td> <%= text_field_tag 'values[height]',@positions['height'] || '1008' , :class =>'textbox-tiny'  %> </td></tr> 
         <tr><td>Enter barcode background color:</td>    
             <td colspan = '4'> <%= text_field_tag 'values[bg_color]',@positions['bg_color'] || '#FFFFFF' , :class =>'textbox-small'  %>&nbsp; eg: #FFFFFF </td>
         </tr> 
         <tr> <td colspan ='5'> Upload the shell background image: <br /> <br />(Not mandatory. Just to give you an idea about the content positions, during preview) </td> </tr>
         <tr> <td colspan ='5'> <%= file_field_tag 'image' %>  </td> </tr>
         <tr><td colspan = '5'>
                <%= link_to "<b>Preview pdf print file</b>", test_print_admin_dealer_path(:id => @dealer.id, :i => 1, :t => params[:t], :format => 'pdf' )%> 
                <span> <br /><br />
                    (Make sure that at least one data record available for this dealer and you saved the dimensions set below.)
                </span>
              </td>    
         </tr> 
     </table> 
        
     <%= render :partial => @partial   %>
     <%= f.hidden_field 'template', :value=> params[:t]%>
     <br />
     <table> <tr> <td> <%= f.submit 'Save dimensions' %> </td> <td> &nbsp; &nbsp; <%= link_to 'Cancel', admin_dealers_path %> </td> </tr> </table>
<% end %>

