<% content_for :header do -%>
   Setting up shell content positions for printing
<% end -%>
<span>Enter the x and y co-ordinate values(in points). Refer layout co-ordinate matrix for help: <%=link_to 'Shell layout', shell_matrix_html_url %></span>
<br /><br />

<% form_for([:admin, @dealer, @shell_dimension]) do |f| %>
  <%= f.error_messages %>        
     <%= render :partial => @partial   %>
     <%= f.hidden_field 'template', :value=> params[:t]%>
     <br />
     <table> <tr> <td> <%= f.submit 'Save dimensions' %> </td> <td> &nbsp; &nbsp; <%= link_to 'Cancel', admin_dealers_path %> </td> </tr> </table>
<% end %>

