<% form_remote_tag(:url => admin_trigger_details_url, :method => :get ) do %> <%= indicator %>
   <table class="search-table">
     <tr>
       <th> Dealer Name: </th>
       <th> Order Number: </th>
       <th> Data Source </th>
       <th> Date : </th>
       <th> <input type="reset" value="Reset" />  </th>
     </tr>
     <tr>
      <%fields_for @search do |f|%>
        <% f.fields_for @search.conditions do |p| %>
         <% p.fields_for p.object.dealer do |dealer| %>
           <% dealer.fields_for dealer.object.profile do |profile| %>
               <td><%= profile.text_field :name_like, :class => 'textbox' %></td>
           <%end%>
         <%end%>
         <td><%= p.text_field :order_number_like, :class => 'textbox' %></td>
          <td><%= p.select :data_source_is,[ ['Select',''] ,['Seekerinc' ,'seekerinc'] ,['Marketernet' ,'marketernet'] ],:class => 'textbox' %></td>
         <td> <%= calendar_date_select_tag "created_at" ,"",:class =>"textbox-small" %> &nbsp;&nbsp; <%= link_to_remote "Today's" ,:url =>{ :controller => "/admin/trigger_details" ,:action =>"index" ,:today =>1 },:method =>:get %>  | <%= link_to_remote "All" ,:url =>{ :controller => "/admin/trigger_details" ,:action =>"index" },:method =>:get %> </td>

       <%end%>
       <%end%>
       <input id="type" name="type" type="hidden" value="<%= @type %>" />
        <td><%= submit_tag 'Search' %>  </td>
       </tr>
  </table>
<% end %>
