<% if @triggers.blank?%>
<table class='listing'>
  <tr>
    <th>Date </th>
    <th>Dealer </th>
    <th>Data Source</th>
    <th>Order No</th>
    <th>Total Records </th>
    <th>Mark processed </th>
  </tr>
  </table>
   <br/>
    No Record Found.
<% else %>

<table class='listing'>
  <tr>
    <th><%= remote_order_by_link(:created_at, :text => "Date") %> </th>
    <th> <%= remote_order_by_link({:dealer =>{:profile => :name}} ,:text => "Dealer" )%> </th>
    <th>Data Source</th>
    <th><%= remote_order_by_link(:order_number,:text =>"Order No") %></th>
    <th>Total Records </th>
    <th>Balance </th>
    <th>Mark processed </th>
    </tr>
<% @triggers.each do |trigger| %>
       <tr class= '<%= trigger.status %>'>
          <td> 
            <div class="calendar-date">
              <span class = 'cal'><%= image_tag("date.png") %></span>
              <%= Time.parse(trigger.created_at.to_s).strftime('%b %d, %Y')%>
            </div>
         </td>
         <td> <%= "#{image_tag("user.gif")} #{trigger.dealer.profile.name}" %> </td>
         <td> <%= "#{image_tag("database.gif")} #{trigger.data_source}" %> </td>
         <td> <%= trigger.order_number %> </td>
	 <td> <%= trigger.total_records %> </td>
         <td <%= 'style = "background: #FFD1C2"' if trigger.balance < trigger.total_records %> > <%= trigger.balance %> </td>
         <td style = "color: #2c97d4; font-weight: bold;"> <%= link_to 'Mark processed', mark_processed_admin_trigger_detail_url(trigger) unless trigger.processed? %> </td>
       </tr>
<% end %>
</table>

<table class='table-bottom'>
  <tr class="table-footer">

        <td><%= remote_per_page_select %></td>
        <td>
         <% form_remote_tag(:url => admin_trigger_details_path, :method => :get) do %>
             <% fields_for @search do |f|%>
                     <%= f.text_field :page, :class => 'textbox-tiny' %>
                     <%= submit_tag 'Go' %>
             <%end%>
         <%end%>


        </td>
         <td> <% unless @triggers.blank? %>
                 <div class="pagination">
                    <%= remote_page_links %>
                 </div>
               <%end%>
         </td>
  </tr>
</table>
<%end%>
<br />
