<% if @type == "processed" %>
   <% content_for :header do -%>
     Listing All Processed Trigger Detail. &nbsp;<%= link_to "<b>View Unprocessed Triggers</b>", admin_trigger_details_url()  %>
   <% end -%>
<% else %>
   <% content_for :header do -%>
    Listing All Unprocessed Trigger Detail.&nbsp; <%= link_to "<b> View Processed Triggers </b>", admin_trigger_details_url(:type => "processed")  %>
   <% end -%>
   
   <table>
     <tr>
         <td>
             <% if super_admin? %> <%= link_to("<span> Fetch Triggers</span>", run_admin_robot_url() , :class => 'button')%> <% end %>
         </td>

         <td>
             <%= link_to("<span> Process Pending Triggers </span>",  process_triggers_admin_trigger_details_url() , :class => 'button')%>
         </td>
        
     </tr>
</table>
<%end%>



<br />

<%=render :partial=> 'filter'%>
<br /> <br />
<div id='trigger-list'>
   <%=render :partial=> 'trigger_details_list'%>
</div>
