<% if @type == "processed" %>
   <% content_for :header do -%>
     Listing all processed trigger detail. &nbsp;<%= link_to "View unprocessed triggers", admin_trigger_details_url()  %>
   <% end -%>
<% else %>
   <% content_for :header do -%>
    Listing all unprocessed trigger detail.&nbsp; <%= link_to "View processed triggers", admin_trigger_details_url(:type => "processed")  %>
   <% end -%>
<%end%>
 <%= link_to_function "Show Search Bar",
			" Element.show('search-bar'); return false;"
			%> &nbsp;&nbsp; |&nbsp;&nbsp;
			<%= link_to_function "Hide Search Bar",
			"Element.hide('search-bar'); return false;"
			%>  &nbsp;&nbsp;

<div id = 'search-bar' style ="display:none"> <%=render :partial=> 'filter'%> </div>
<br />  <br /> 
<table>
     <tr>
         <td>
             <% if super_admin? %> <%= link_to("<span> Fetch triggers</span>", run_admin_robot_url() , :class => 'button')%> <% end %>
         </td>

         <td>
            <%form_tag process_triggers_admin_trigger_details_url, :method=>:post do %>
              <a class="button" onclick="$(this).up('form').submit(); return false;"><span>Process pending triggers</span></a>
              <span style ="color: #04376E;"> CSV file to be attached to dealer emails?</span>  &nbsp; Yes<%= check_box_tag("attachment", 1, true)%>
            <%end%>
         </td>
        
     </tr>
</table>

<br /> <br />
<div id='trigger-list'>
   <%=render :partial=> 'trigger_details_list'%>
</div>
