<% content_for :header do -%>
   Displaying Print file variable values and CSV file fields.
<% end -%> 

<div class = 'part1'>

<div class = 'form-box' >
<h1 class = 'head'>  Variable field values. </h1><br/>
<table class ="form-display">
 <tr> <th> Text Body 1 </th> <td > <% unless @text_body_1.nil? %> <%=h @text_body_1.value %> <%end%></td></tr>
  <tr> <th> Text Body 2 </th> <td><% unless @text_body_2.nil? %> <%=h @text_body_2.value %> <%end%></td></tr>
  <tr> <th> Text Body 3 </th> <td > <% unless @text_body_3.nil? %><%=h @text_body_3.value %><%end%> </td></tr>
   <tr> <th>Label </th> <th> value </th> </tr>
  <tr>
  <% if @variable_data_1.blank? %>
      <td> </td><td></td>
      <%else%>
      <td><%=h  @variable_data_1.label %> </td><td><%=h @variable_data_1.value %> </td>
      <%end%></tr>
  <tr>
  <% if @variable_data_2.blank? %>
      <td> </td>
      <td></td></tr>
      <%else%>
      <td><%=h  @variable_data_2.label %> </td>
      <td><%=h @variable_data_2.value %> </td> </tr>
      <%end%>
   <tr>
  <% if @variable_data_3.blank? %>
      <td> </td>
      <td></td></tr>
      <%else%>
      <td><%=h  @variable_data_3.label %> </td>
      <td><%=h @variable_data_3.value %> </td> </tr>
      <%end%>

  <tr>
      <% if @variable_data_4.blank? %>
      <td></td><td></td></tr>
      <%else%>
       <td> <%=h  @variable_data_4.label %> </td> <td><%=h @variable_data_4.value %> </td></tr>
      <%end%>
  <tr>
   <% if @variable_data_5.blank? %>
      <td></td>
      <td></td></tr>
     <%else%>
     <td><%=h @variable_data_5.label %> </td>
      <td><%=h  @variable_data_5.value %> </td></tr>
     <%end%>

  <tr>
  <% if @variable_data_6.blank? %>
      <td> </td>
      <td> </td></tr>
      <%else%>
      <td><%=h @variable_data_6.label  %> </td>
      <td><%=h @variable_data_6.value %> </td></tr>
      <%end%>
  <tr>
  <% if @variable_data_7.blank? %>
      <td> </td>
      <td>  </td></tr>
      <%else%>
      <td><%=h @variable_data_7.label  %> </td>
      <td><%=h @variable_data_7.value %> </td></tr>
      <%end%>
  <tr> 
  <% if @variable_data_8.blank? %>
      <td> </td>
      <td></td></tr>
      <%else%>
      <td><%=h @variable_data_8.label  %> </td>
      <td><%=h @variable_data_8.value  %> </td></tr>
      <%end%>
  <tr>
  <% if @variable_data_9.blank? %>
      <td> </td>
      <td></td></tr>
      <%else%>
      <td><%=h  @variable_data_9.label %> </td>
      <td><%=h @variable_data_9.value %> </td> </tr>
      <%end%>
  <tr>
  <% if @variable_data_10.blank? %>
      <td> </td>
      <td></td></tr>
      <%else%>
      <td><%=h  @variable_data_10.label %> </td>
      <td><%=h @variable_data_10.value %> </td> </tr>
      <%end%>
     <tr><th> Selected Template :</th><td>
      <% unless @dealer_template.blank? %>
         <% if @dealer_template.value.include?("template1")  %>
             <%= image_tag("template4.png",  :alt => "Template 1")  %>
          <% elsif  @dealer_template.value.include?("template2") %>
            <%= image_tag("template5.jpg", :alt => "Template 2")  %>
         <% elsif  @dealer_template.value.include?("template3") %>
	    <%= image_tag("template6.jpg", :alt => "Template 3")  %>
         <% else  'No template selected Yet.' %>
         <%end%> 
      <% else %>
         No template selected Yet.
      <% end %>
    </td></tr>
</table>

</div>
</div>

<div class = 'part2'>
<div class = 'form-box' >
<h1 class = 'head'>  Columns to be appended to the CSV Print file. </h1><br/>
<% form_for(:csv_extra_field,:url=>dealer_print_file_field_path(@dealer),:html => { :method => :put }) do |f| %>
<table class = 'form-display'>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'name', @fields.include?("name"))%> </td><th>Name</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'first_name', @fields.include?("first_name"))%> </td><th>First Name</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'mid_name', @fields.include?("mid_name"))%></td><th> Middle Name</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'last_name', @fields.include?("last_name"))%> </td><th> Last Name </th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'phone_num', @fields.include?("phone_num"))%> </td><th> Phone Number </th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'address', @fields.include?("address"))%></td><th> Address</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'city', @fields.include?("city"))%> </td><th> City</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'state', @fields.include?("state"))%></td><th> State</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'postal_code', @fields.include?("postal_code"))%></td><th> Zip</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'text_body_1', @fields.include?("text_body_1"))%></td><th> Text Body 1</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'text_body_2', @fields.include?("text_body_2"))%> </td><th>Text Body 2</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'text_body_3', @fields.include?("text_body_3"))%></td><th>Text Body 3</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_1', @fields.include?("variable_data_1"))%> </td><th> Variable Data 1</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_2', @fields.include?("variable_data_2"))%> </td><th> Variable Data 2</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_3', @fields.include?("variable_data_3"))%> </td><th> Variable Data 3</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_4', @fields.include?("variable_data_4"))%> </td><th> Variable Data 4</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_5', @fields.include?("variable_data_5"))%> </td><th> Variable Data 5</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_6', @fields.include?("variable_data_6"))%> </td><th> Variable Data 6</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_7', @fields.include?("variable_data_7"))%> </td><th> Variable Data 7</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_8', @fields.include?("variable_data_8"))%> </td><th> Variable Data 8</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_9', @fields.include?("variable_data_9"))%> </td><th> Variable Data 9</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_10', @fields.include?("variable_data_10"))%> </td><th> Variable Data 10</th></tr>

</table>

<br/> <br/>


<%=f.submit "Update" %>  <%= link_to "Back" , qd_profiles_url %>

<%end%>
</div>
</div>
  <div class = 'clear'> </div>
