<% if @qd_profiles.blank?%>

<table class='listing'>
   <tr>
       <th> Imported on </th>
       <th>Order No</th>

       <th> <%= remote_order_by_link (:fname ,:text => "First Name") %></th>
       <th><%= remote_order_by_link (:lname ,:text => "Last Name") %></th>
       <th> Address </th>
       <th> <%= remote_order_by_link (:city ,:text => "City") %> </th>
       <th> State </th>
       <th> Zip </th>
       <th> Crrt </th>

       <th> <%= remote_order_by_link ({:dealer =>{ :profile => :name} } ,:text =>"Dealer") %></th>
       <th> Status</th>
   </tr>
   </table>
   <br/>
     No Records Found.
 <% else %>
    <table class='listing'>
       <tr>
       <th> <%= remote_order_by_link (:created_at ,:text =>"Imported on") %> </th>
       <th> Order No</th>
       <th> <%= remote_order_by_link (:fname ,:text => "First Name") %></th>
       <th><%= remote_order_by_link (:lname ,:text => "Last Name") %></th>
       <th> Address </th>
       <th> <%= remote_order_by_link (:city ,:text => "City") %> </th>
       <th> State </th>
       <th> Zip </th>
       <th> Crrt </th>
       <th colspan=2> <%= remote_order_by_link ({:dealer =>{ :profile => :name} } ,:text =>"Dealer") %> </th>
       <th> Status</th>
   </tr>

   <% @qd_profiles.each do |profile| %>
      <tr  class="<%= cycle('odd', 'even')%>">
           <td> <%=h Time.parse(profile.created_at.to_s).to_date %> </td>
           <td> <%=h TriggerDetail.find(profile.trigger_detail_id).order_number %> </td>
           <td> <%=h profile.fname %> </td>
           <td> <%=h profile.lname  %>
           <td> <%=h profile.address %> </td>
           <td> <%=h profile.city %> </td>
           <td> <%=h profile.state %> </td>
           <td> <%=h profile.zip %> </td>
           <td> <%=h profile.crrt %> </td>
           <td> <%=h profile.dealer.profile.name %> <td>[ <%= link_to "Assign" ,  assign_dealer_admin_qd_profile_path(profile.id,:page =>@search.page,:per_page => @search.per_page) ,:rel => "facebox" %> ] </td></td>
           <td> <%=h profile.status%></td>
       </tr>

    <% end %>
</table>

 <table class='table-bottom'>
  <tr class="table-footer">
  	    <td><%= remote_per_page_select %></td>
        <td>
         <% form_tag(admin_qd_profiles_path, :method => :get, :id => "goto") do %>
             <% fields_for @search do |f|%>
                     <%= f.text_field :page, :class => 'textbox-tiny' %></td>
             <%end%>
         <%end%>


        </td>
         <td> <% unless @qd_profiles.blank? %>
                             <div class="pagination">
                                <%= remote_page_links %>
                             </div>
                           <% end %>
         </td>
  </tr>
</table>
<%= observe_form("goto", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => admin_qd_profiles_path, :method => :get) %>


<br />
<%end%>
