<h3 class = 'left'> 
   <%= "Data set imported on: #{Time.parse(@qd_profiles.first.created_at.to_s).strftime('%b %d, %Y')}. &nbsp; &nbsp; For dealer - #{ @qd_profiles.first.dealer.profile.name }. &nbsp; &nbsp; Order No: #{@qd_profiles.first.trigger_detail.order_number}"  %> 

</h3>

<div id = 'top-links'>
  <%= link_to("<b> Back to Date List </b>",  admin_qd_profiles_url( ) )%>
</div>

<br /> 
<% if @qd_profiles.blank?%>
   <br />
    No Qd Profile Record Found.
<% else %>
<br />

    <table class='listing'>
       <tr>
       <th> First Name </th>
       <th> Last Name </th>
       <th> Full address </th>
       <th> Phone </th>
       <th>  Dealer  </th>
       <th> Status</th>
   </tr>

   <% @qd_profiles.each do |profile| %>
      <tr  class="<%= cycle('odd', 'even')%>">
           <td> <%=h profile.fname %> </td>
           <td> <%=h profile.lname  %>
           <td> <%=h profile.full_addrress %> </td>
           <td> <%=h profile.phone_num %> </td>
           <td> <%= link_to profile.dealer.profile.name,  assign_dealer_admin_qd_profile_path(profile.id),:rel => "facebox" %> </td>
           <td> <%=h profile.status%></td>
       </tr>

    <% end %>
</table>

<%end%>
