<%= link_to("<b> Back to Date List </b>",  admin_qd_profiles_url( ) )%>

<br />
<% if @qd_profiles.blank?%>
   <br />
    No QD Profile for Particular Trigger Detail .
<% else %>
<br />

    <table class='listing'>
       <tr>
       <th>  Imported on  </th>
       <th> Order No </th>
       <th>  First Name </th>
       <th>  Last Name </th>
       <th> Address </th>
       <th>  City  </th>
       <th> State </th>
       <th> Zip </th>
       <th> Crrt </th>
       <th>  Dealer  </th>
       <th> Status</th>
   </tr>

   <% @qd_profiles.each do |profile| %>
      <tr  class="<%= cycle('odd', 'even')%>">
           <td> <%=h Time.parse(profile.created_at.to_s).to_date %> </td>
           <td> <%=h TriggerDetail.find(profile.trigger_detail_id).order_number %> </td>
           <td> <%=h profile.fname %> </td>
           <td> <%=h profile.lname  %>
           <td> <%=h profile.address %> </td>
           <td> <%=h profile.city %> </td>
           <td> <%=h profile.state %> </td>
           <td> <%=h profile.zip %> </td>
           <td> <%=h profile.crrt %> </td>
           <td> <%= link_to profile.dealer.profile.name,  assign_dealer_admin_qd_profile_path(profile.id),:rel => "facebox" %> </td>
           <td> <%=h profile.status%></td>
       </tr>

    <% end %>
</table>

<%end%>
