<br /> 

<% if @triggers.blank?%>
 <br />
   No Record Found.
<% else %>
  <table class='listing'>
   <tr>
       <th></th>
       <th> <%= remote_order_by_link(:created_at,:text => "Click on date") %></th>
       <th><%= remote_order_by_link(:order_number ,:text => "Order no") %></th>
       <th><%= remote_order_by_link( {:dealer => { :profile => :name }} ,:text => "Dealer")%></th>
       <th><%= remote_order_by_link(:total_records ,:text => "Records")%></th>
       <th><%= remote_order_by_link(:marked, :text => "Printed?") %> </th>
       <th> Mark for print </th>
       <th> Print file </th>
       <th> Append data </th>
   </tr>
   <%form_for [:admin, DataAppend.new] do |f| -%>
     <% @triggers.each do |trigger| %>
       <tr class="<%= cycle('odd', 'even') %>">
         <td> <%= check_box_tag("data_append[td_list][]", trigger.id, false, :id=> trigger.id)%></td>
         <td> 
            <div class="calendar-date">
              <span class = 'cal'><%= image_tag("date.png") %></span>
              <%= link_to_remote "#{Time.parse(trigger.created_at.to_s).strftime('%b %d, %Y')}", :url => admin_qd_profiles_url, :method => :get, :with => "'tid=' + #{trigger.id}" %>
             </div>
            </div>
         </td>

         <td> <%= trigger.order_number  %></td>
         <td> <%= image_tag("user.png")%> <%= trigger.dealer.profile.name  %></td>
         <td> <%= trigger.total_records %> </td>
         <td> <%= (trigger.marked == 'yes' ||  trigger.marked == 'printed') ? (trigger.marked == 'printed'? 'Printed': 'Yes') : 'No' -%> </td>
         <td> 
           <% if trigger.dealer.profile.wants_data_printed -%>
             <%= image_tag("printer_add.png") %>
             <% unless trigger.marked == 'yes'%>
               <% link_text = trigger.marked == 'printed' ? 'Re-mark' : 'Mark for print' -%>
               <%= link_to link_text,  mark_data_admin_qd_profiles_path(:tid => trigger.id), :confirm => 'This action will mark all the records for PRINT. Are you sure?', :method => :post  -%> 
             <% else -%>
               <%= link_to "Un-Mark", unmark_data_admin_qd_profiles_path(:tid => trigger.id), :confirm => 'This action will un-mark all the records for PRINT. Are you sure?', :method => :post  -%> 
             <% end -%>
           <% else -%>
               <%= image_tag("printer_delete.png") %> Doesn't want print
           <% end -%>
         </td>
         <td> 
              <% if trigger.marked == 'yes' %>
                 <%= link_to 'Print file', "/admin/print_data/csv_print_file?tid=#{trigger.id}" %>
              <% else %>
                 <%= trigger.marked == 'printed'? 'Printed' : 'Unmarked' %>
              <% end %>
         </td>
         
         <td style ='width: 380px; padding-left: 0px;'>
             <%= check_box_tag 'product_type[]', 'll' %> Landline &nbsp;
             <%= check_box_tag 'product_types[]', 'mb' %> Mobile &nbsp;
             <%= check_box_tag 'product_types[]', 'em' %> Email &nbsp;
             <%= check_box_tag 'product_types[]', 'nc' %> NCOA | 
             <%= f.hidden_field :requestor_id, :value => current_user.id %>
             <%= f.hidden_field :no_of_records, :value => trigger.total_records %>
             <%= f.hidden_field :dealer_id, :value => trigger.dealer.id %>
             <%= f.hidden_field :tid_list, :value => trigger.id -%>
             <%= f.hidden_field :status_message, :value => 'sent' -%>
             
 
             <%= submit_tag "Send", :confirm => "Are you sure, You want to send this data for append? " %>
           </td>
        </tr>
      <% end %>
    <%end-%>
  </table>


  <table class='table-bottom'>
        <tr class="table-footer">

  	    <td><%= remote_per_page_select %></td>

            <td>
                <% form_tag(admin_qd_profiles_path, :method => :get ) do %>
                    <% fields_for @search do |f|%>
                       <%= f.text_field :page, :class => 'textbox-tiny' %>
                        <%= submit_tag 'Go' %>
                    <%end%>
                <%end%>
            </td>

            <td> <% unless  @triggers.blank? %>
                    <div class="pagination">
                       <%= remote_page_links %>
                    </div>
                 <% end %>
            </td>

         </tr>
  </table>
  <% end %>
