<% content_for :header do -%>
  Listing Data Set
<% end -%>
<div id='qd_profile-list'>
<%=render :partial=> 'filters'%>
<br /> <br />


   <%=render :partial=> 'trigger_list'%>
<!--

    <center><%= link_to(image_tag('excel.png', :border => '0'),  admin_qd_profiles_path(:format => "csv" ,:type =>"all")  )%> &nbsp;
<%= link_to "Export This Page to CSV",  admin_qd_profiles_path(:format => "csv",:type =>"all") %> &nbsp;<b>|</b>&nbsp;
<%= link_to(image_tag('excel.png', :border => '0'),  admin_qd_profiles_path(:format => "csv" , :search => @params)  )%> &nbsp;
<%= link_to "Export Selected Dealers to CSV",  admin_qd_profiles_path(:format => "csv", :search => @params) %>
</center> <br/>
-->
</div>
