<% content_for :header do -%>
 Listing Data Set, Categorised on Date Added &nbsp; <%= link_to("Generate Combined CSV Print File", print_file_url, :action => :get)%>
<% end -%>

<div id='trigger_qd_profile-list' >
   <%= link_to_function "<b> Show Search Bar </b>",
			" Element.show('search-bar'); return false;"
			%> &nbsp;&nbsp; |&nbsp;&nbsp;
			<%= link_to_function "<b>Hide Search Bar</b>",
			"Element.hide('search-bar'); return false;"
			%>  &nbsp;&nbsp; |&nbsp;&nbsp;<b> <%= link_to "View Only Marked Data" ,admin_qd_profiles_url(:m => 't' ) %> </b>

   <div id = 'search-bar' style ="display:none"> <%=render :partial=> 'filters'%> </div>

<div id='qd_profile-list'>

   <%=render :partial=> 'trigger_list'%>
<!--
<center><%= link_to(image_tag('excel.png', :border => '0'),  admin_qd_profiles_path(:format => "csv" ,:type =>"all")  )%> &nbsp;
<%= link_to "Export This Page to CSV",  admin_qd_profiles_path(:format => "csv",:type =>"all") %> &nbsp;<b>|</b>&nbsp;
<%= link_to(image_tag('excel.png', :border => '0'),  admin_qd_profiles_path(:format => "csv" , :search => @params)  )%> &nbsp;
<%= link_to "Export Selected Dealers to CSV",  admin_qd_profiles_path(:format => "csv", :search => @params) %>
</center> <br/>
-->
</div>
</div>
