<% content_for :header do -%>
  Listing all QD data set
<% end -%>

<table class='listing'>
   <%= @fields_to_be_shown %>
   <% if @fields_to_be_shown.blank? %>
      <tr><th> List Id </th>
          <th> Dealer </th> 
          <th> Name </th>
          <th> Address </th>
          <th> City </th>
          <th> State </th>
          <th> Zip </th>
          <th> Crrt </th>
      </tr>

      <% @qd_profiles.each do |profile| %>
         <tr> <td> <%= profile.listid %> </td> 
              <td> <%= profile.dealer.profile.name %> </td>
              <td> <%= "#{profile.fname} #{profile.lname}" %> </td>
              <td> <%= profile.address %> </td>
              <td> <%= profile.city %> </td>
              <td> <%= profile.state %> </td>
              <td> <%= profile.zip %> </td>
              <td> <%= profile.crrt %> </td>
         </tr>
       <% end %>
   <% else %> 
      <% @fields_to_be_shown.each do |qd_field| %>
         <tr> <% table_header(qd_field) %> </tr>

         <% @qd_profiles.each do |profile| %>
            <tr> <td> <%= "profile.#{qd_field}" %> </td> </tr>
         <% end %>
   <% end %>
  
</table>

<br />
