
<% content_for :header do -%>
 Listing data set, categorised on imported date
<% end -%>

<div id='trigger_qd_profile-list' >
  <table id='top-buttons'>
    <tr>
       <td COLSPAN = "2">
         <%= link_to("<span>Generate print file for all marked data</span>", print_file_url(:m => 1), :action => :get, :class=> "button")%>
         <%= link_to("<span>Generate print file for all un-marked data</span>", print_file_url(), :action => :get, :class=> "button")%> </td>
    </tr>
    <%  unless super_admin?%>
      <tr>
        <td COLSPAN= "2">
          <p style="color: #EB2C25"> <%= 'There are data records pending append. Please refresh after some time to know the status, before generating print file.' if check_for_pending_append  %> </p>
        </td>
      </tr>
    <%end%>
  </table>

  <div id = 'top-links'>
    <span id = 's'>
       <%= image_tag('zoom.png') %><%= link_to_function 'Show search bar', "Element.show('search-bar'); Element.show('h'); Element.hide('s'); return false;" %> &nbsp;&nbsp; |&nbsp;&nbsp;
    </span>

    <span id = 'h' style ="display:none">
       <%= image_tag('magifier_zoom_out.png') %> <%= link_to_function "Hide search bar", "Element.hide('search-bar'); Element.show('s'); Element.hide('h');return false;" %> &nbsp;&nbsp; |&nbsp;&nbsp;
    </span>

    <%= image_tag('database_go.png') unless params[:m]%><%= link_to "View only marked data", admin_qd_profiles_url(:m => 't' ) unless params[:m] %>
    <%= image_tag('database_refresh.png') if params[:m]%><%= link_to "View all", admin_qd_profiles_url if params[:m] %>
 </div>

 <div id = 'search-bar' style ="display:none ; clear:both"> <%=render :partial=> 'filters'%> </div>
 <div class='clear'> </div>

<%form_for([:admin, DataAppend.new] , :html => { :id => 'myform' })do |f| -%>
   <table id='top-buttons'>
     <tr>
       <td>
         <%= f.radio_button 'product', 'ph', :checked => true %> Phone
         <%= f.radio_button 'product', 'em' %> Email
         <%= f.radio_button 'product', 'ncoa' %> NCOA
         <!--
         <%= f.radio_button 'product', 'nc' %> Ncoa
         <%= check_box_tag 'data_append[product_types][]', 'll' %> Landline
         <%= check_box_tag 'data_append[product_types][]', 'mb' %> Mobile
         <%= check_box_tag 'data_append[product_types][]', 'em' %> Email

         -->
         >>
       </td>
       <td>
         <%=link_to_function("<span>Send all selected data for append</span>", "document.forms[1].submit();", :class => "button") %>
       </td>
     </tr>
   </table>

   <div id='qd_profile-list'>
     <%=render :partial=> 'trigger_list'%>
     <!--
     <center><%= link_to(image_tag('excel.png', :border => '0'),  admin_qd_profiles_path(:format => "csv" ,:type =>"all")  )%> &nbsp;
     <%= link_to "Export This Page to CSV",  admin_qd_profiles_path(:format => "csv",:type =>"all") %> &nbsp;<b>|</b>&nbsp;
     <%= link_to(image_tag('excel.png', :border => '0'),  admin_qd_profiles_path(:format => "csv" , :search => @params)  )%> &nbsp;
     <%= link_to "Export Selected Dealers to CSV",  admin_qd_profiles_path(:format => "csv", :search => @params) %>
     </center> <br/>
     -->
   </div>
<%end-%>
</div>

