 <% content_for :header do -%>
Columns to be appended to the Print file.
<% end -%>  <br/>

<br/>
<% form_for(:csv_extra_field,:url=>dealer_csv_extra_field_path(@dealer),:html => { :method => :put }) do |f| %>
<table class = 'form-table'>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'name', true)%> </td><th>Name</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'first_name', @fields.include?("first_name"))%> </td><th>First Name</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'mid_name', @fields.include?("mid_name"))%></td><th> Middle Name</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'last_name', @fields.include?("last_name"))%> </td><th> Last Name </th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'phone_num', @fields.include?("phone_num"))%> </td><th> Phone Number </th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'address', @fields.include?("address"))%></td><th> Address</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'city', @fields.include?("city"))%> </td><th> City</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'state', @fields.include?("state"))%></td><th> State</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'postal_code', @fields.include?("postal_code"))%></td><th> Zip</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'text_body_1', @fields.include?("text_body_1"))%></td><th> Text Body 1</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'text_body_2', @fields.include?("text_body_2"))%> </td><th>Text Body 2</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'text_body_3', @fields.include?("text_body_3"))%></td><th>Text Body 3</th></tr>

   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_4', @fields.include?("variable_data_4"))%> </td><th> Variable Data 4</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_5', @fields.include?("variable_data_5"))%> </td><th> Variable Data 5</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_6', @fields.include?("variable_data_6"))%> </td><th> Variable Data 6</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_7', @fields.include?("variable_data_7"))%> </td><th> Variable Data 7</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_8', @fields.include?("variable_data_8"))%> </td><th> Variable Data 8</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_9', @fields.include?("variable_data_9"))%> </td><th> Variable Data 9</th></tr>

</table><br/>

<table class ="form-table">
 <tr> <th> Text Body 1 </th> <td colspan ='2'> <% unless @text_body_1.nil? %> <%=h @text_body_1.values %> <%end%></td></tr>
  <tr> <th> Text Body 2 </th> <td colspan ='2'><% unless @text_body_2.nil? %> <%=h @text_body_2.values %> <%end%></td></tr>
  <tr> <th> Text Body 3 </th> <td colspan ='2'> <% unless @text_body_3.nil? %><%=h @text_body_3.values %><%end%> </td></tr>
   <tr> <th> Identifier </th> <th>Label </th> <th> values </th> </tr>
  <tr><th> Variable Data 4</th>
      <% if @variable_data_4.blank? %>
      <td> <%= text_field_tag "variable_data_4[label]" ,"",:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_4[values]" ,'',:class => "textbox" %> </td></tr>
      <%else%>
       <td> <%= text_field_tag "variable_data_4[label]" ,@variable_data_4.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_4[values]" ,@variable_data_4.values,:class => "textbox" %> </td></tr>
      <%end%>
  <tr> <th>Variable Data 5</th>
   <% if @variable_data_5.blank? %>
      <td><%= text_field_tag "variable_data_5[label]",'',:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_5[values]" ,'',:class => "textbox" %> </td></tr>
     <%else%>
     <td><%= text_field_tag "variable_data_5[label]",@variable_data_5.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_5[values]" ,@variable_data_5.values,:class => "textbox" %> </td></tr>
     <%end%>

  <tr> <th>Variable Data 6</th>
  <% if @variable_data_6.blank? %>
      <td><%= text_field_tag "variable_data_6[label]" ,'',:class => "textbox"%> </td>
      <td> <%= text_field_tag "variable_data_6[values]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_6[label]",@variable_data_6.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_6[values]" ,@variable_data_6.values,:class => "textbox" %> </td></tr>
      <%end%>
  <tr><th> Variable Data 7</th>
  <% if @variable_data_7.blank? %>
      <td> <%= text_field_tag "variable_data_7[label]" ,'',:class => "textbox"%></td>
      <td> <%= text_field_tag "variable_data_7[values]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_7[label]",@variable_data_7.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_7[values]" ,@variable_data_7.values,:class => "textbox" %> </td></tr>
      <%end%>
  <tr> <th>Variable Data 8</th>
  <% if @variable_data_8.blank? %>
      <td> <%= text_field_tag "variable_data_8[label]",'',:class => "textbox" %></td>
      <td> <%= text_field_tag "variable_data_8[values]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_8[label]",@variable_data_8.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_8[values]" ,@variable_data_8.values,:class => "textbox" %> </td></tr>
      <%end%>
  <tr><th> Variable Data 9</th>
  <% if @variable_data_9.blank? %>
      <td><%= text_field_tag "variable_data_9[label]" ,'',:class => "textbox"%> </td>
      <td> <%= text_field_tag "variable_data_9[values]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_9[label]",@variable_data_9.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_9[values]" ,@variable_data_9.values,:class => "textbox" %> </td> </tr>
      <%end%>

      <tr> <th> Select Template </th> <td colspan ='2'>
<%= radio_button_tag ('template', 'template1' , @dealer_template.label == 'template1' ? true : false) %>
<%= image_tag("template4.png",  :alt => "Template 1")  %>

<%= radio_button_tag ('template', 'template2' , @dealer_template.label == 'template2' ? true : false) %>
<%= image_tag("template5.jpg", :alt => "Template 2")  %>
<%= radio_button_tag ('template', 'template3', @dealer_template.label == 'template3' ? true : false)%>
<%= image_tag("template6.jpg", :alt => "Template 3")  %>

</td> </tr>


</table>
<br/> <br/>


<%=f.submit "update" %>  <%= link_to "Back" , qd_profiles_url %>
<br/>

<%end%>
