<% content_for :header do -%>
Columns to be appended to the Print file.
<% end -%>  <br/>

<% form_for(:csv_extra_field,:url=>dealer_csv_extra_field_path(@dealer.id),:method =>:post ) do |f| %>
<br/>
 <table class = 'form-table'>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'name', true)%> </td><th>Name</th></tr>
   <tr> <td><%= check_box_tag("csv_extra_fields[]", 'first_name', true)%> </td><th>First Name</th></tr>
   <tr> <td> <%= check_box_tag("csv_extra_fields[]", 'mid_name', true)%></td><th> Middle Name</th></tr>
   <tr> <td><%= check_box_tag("csv_extra_fields[]", 'last_name', true)%> </td><th> Last Name </th></tr>
   <tr> <td> <%= check_box_tag("csv_extra_fields[]", 'phone_num', true)%> </td><th> Phone Number </th></tr>
   <tr> <td> <%= check_box_tag("csv_extra_fields[]", 'address', true)%></td><th> Address</th></tr>
   <tr> <td><%= check_box_tag("csv_extra_fields[]", 'city', true)%> </td><th> City</th></tr>
   <tr> <td> <%= check_box_tag("csv_extra_fields[]", 'state', true)%></td><th> State</th></tr>
   <tr> <td> <%= check_box_tag("csv_extra_fields[]", 'postal_code', true)%></td><th> Zip</th></tr>

   <tr><td><%= check_box_tag("csv_extra_fields[]", 'text_body_1', true)%></td><th> Text Body 1</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'text_body_2', true)%> </td><th>Text Body 2</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'text_body_3', true)%></td><th>Text Body 3</th></tr>

   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_4', true)%> </td><th> Variable Data 4</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_5', true)%> </td><th> Variable Data 5</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_6', true)%> </td><th> Variable Data 6</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_7', true)%> </td><th> Variable Data 7</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_8', true)%> </td><th> Variable Data 8</th></tr>
   <tr><td><%= check_box_tag("csv_extra_fields[]", 'variable_data_9', true)%> </td><th> Variable Data 9</th></tr>


  </table><br/>


<table class ="form-table">
  <tr> <th> Text Body 1 </th> <td colspan ='2'> <% unless @text_body_1.nil? %> <%=h @text_body_1.values %> <%end%></td></tr>
  <tr> <th> Text Body 2 </th> <td colspan ='2'><% unless @text_body_2.nil? %> <%=h @text_body_2.values %> <%end%></td></tr>
  <tr> <th> Text Body 3 </th> <td colspan ='2'> <% unless @text_body_3.nil? %><%=h @text_body_3.values %><%end%> </td></tr>
   <tr> <th> Identifier </th> <th>Label </th> <th> values </th> </tr>
  <tr><th> Variable Data 4</th>
      <% if @variable_data_4.blank? %>
      <td> <%= text_field_tag "variable_data_4[label]" ,"",:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_4[values]" ,'',:class => "textbox" %> </td></tr>
      <%else%>
       <td> <%= text_field_tag "variable_data_4[label]" ,@variable_data_4.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_4[values]" ,@variable_data_4.values,:class => "textbox" %> </td></tr>
      <%end%>
  <tr> <th>Variable Data 5</th>
   <% if @variable_data_5.blank? %>
      <td><%= text_field_tag "variable_data_5[label]",'',:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_5[values]" ,'',:class => "textbox" %> </td></tr>
     <%else%>
     <td><%= text_field_tag "variable_data_5[label]",@variable_data_5.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_5[values]" ,@variable_data_5.values,:class => "textbox" %> </td></tr>
     <%end%>

  <tr> <th>Variable Data 6</th>
  <% if @variable_data_6.blank? %>
      <td><%= text_field_tag "variable_data_6[label]" ,'',:class => "textbox"%> </td>
      <td> <%= text_field_tag "variable_data_6[values]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_6[label]",@variable_data_6.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_6[values]" ,@variable_data_6.values,:class => "textbox" %> </td></tr>
      <%end%>
  <tr><th> Variable Data 7</th>
  <% if @variable_data_7.blank? %>
      <td> <%= text_field_tag "variable_data_7[label]" ,'',:class => "textbox"%></td>
      <td> <%= text_field_tag "variable_data_7[values]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_7[label]",@variable_data_7.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_7[values]" ,@variable_data_7.values,:class => "textbox" %> </td></tr>
      <%end%>
  <tr> <th>Variable Data 8</th>
  <% if @variable_data_8.blank? %>
      <td> <%= text_field_tag "variable_data_8[label]",'',:class => "textbox" %></td>
      <td> <%= text_field_tag "variable_data_8[values]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_8[label]",@variable_data_8.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_8[values]" ,@variable_data_8.values,:class => "textbox" %> </td></tr>
      <%end%>
  <tr><th> Variable Data 9</th>
  <% if @variable_data_9.blank? %>
      <td><%= text_field_tag "variable_data_9[label]" ,'',:class => "textbox"%> </td>
      <td> <%= text_field_tag "variable_data_9[values]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_9[label]",@variable_data_9.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_9[values]" ,@variable_data_9.values,:class => "textbox" %> </td> </tr>
      <%end%>

       <tr> <th> Select Template </th> <td>
<%= radio_button_tag ('template', 'template1' , @dealer_template.label == 'template1' ? true : false) %>
<%= image_tag("template4.png", :size => "75x100", :alt => "Template 1")  %>

<%= radio_button_tag ('template', 'template2' , @dealer_template.label == 'template2' ? true : false) %>
<%= image_tag("template5.jpg", :size => "75x100", :alt => "Template 2")  %>
<%= radio_button_tag ('template', 'template3', @dealer_template.label == 'template3' ? true : false)%>
<%= image_tag("template6.jpg", :size => "75x100", :alt => "Template 3")  %>

</td> </tr>


</table>
<br/> <br/>



   <%=f.submit "Save" %>

<%end%>
