<% content_for :header do %>
   Listing all data sent for append
<% end -%>


<div class = 'right'>
  <% unless @data_appends.blank? %>
     <div class="pagination">
        <%=  page_links %>
     </div>
  <% end %>
</div>
<div class = 'clear'> </div>
<br />

<table class='listing'>
  <tr>
    <th> File name </th>
    <th> Type </th>
    <th> Sent on </th>
    <th> Dealer </th>
    <th> Total records </th>
    <th> Requested by </th>
    <th> Status </th>
    <th> Details </th>
  </tr>

<% @data_appends.each do |da| %>
  <tr>
    <td class = 'fixed'> <%= da.csv_file_name %></td>
    <td> <%= DataAppend::AppendProductDisplay[da.product] %></td>
    <td> <%= da.created_at.strftime("%d/%m/%Y") %></td>
    <td> <%= da.dealer.profile.name %></td>
    <td> <%= da.no_of_records %></td>
    <td> <%= da.requestor.login rescue ' '%></td>
    <td class = "<%=da.status_message %>">
      <%= 'Sent for append.' if da.status_message == 'sent' %>
      <%= "Appended on: <span> #{da.completed_on.strftime('%d %b, %Y. %I:%M %p') unless da.completed_on.blank?}.</span> &nbsp; Matches: <span>#{da.matches}.</span> " if da.status_message == 'appended' %>
    </td>
    <td> <%= link_to('Details', admin_data_append_appended_qd_profiles_path(da)) if da.status_message == 'appended' %></td>
  </tr>
<% end %>
</table>
<% unless @data_appends.blank? %>
   <div class="pagination">
      <%=  page_links %>
   </div>
<% end %>
<br />

