<% content_for :header do %>
   Listing all data sent for append
<% end -%>

<% @data_appends.each do |da| %>
  <div class = 'data_append'>
    <%= da.csv_file_name %>
    <br />
    Data sent: <%= da.created_at.strftime("%d/%m/%Y") %>
  </div>
<%end-%>
 
<table class='listing'>
  <tr>
    <th> File name </th>
    <th> Sent on </th>
    <th> Dealer </th>
    <th> Total records </th>
    <th> Requested by </th>
  </tr>

<% @data_appends.each do |data_append| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td> <%= data_append.csv_file_name %>
    <td> <%= data_append.created_at.strftime("%d/%m/%Y") %>
    <td> <%= data_append.dealer.profile.name %>
    <td> <%= data_append.no_of_records %>
    <td> <%= data_append.requestor.login %>
  </tr>
<% end %>
</table>

<br />
 
