<br />
<table cellspacing=0 cellpadding=0>  
    <tr><td style ='vertical-align: middle;'> <span style ="color: #04376E;"><b> Act on marked data: &nbsp; </b></span> </td>
       <td class='hide-for-print' style ='vertical-align: top;'> <%= link_to("<span>Print with shell </span>", print_file_qd_profiles_url(:format => "pdf", :t => 1), :action => :get, :class=> "button")%> </td>
       <td class='hide-for-print' style ='vertical-align: top;'> <%= link_to("<span>Print without shell</span>", print_file_qd_profiles_url(:format => "pdf"), :action => :get, :class=> "button")%> </td>
       <td class='hide-for-print' style ='vertical-align: top;'> <%= link_to("<span>Print labels</span>", print_labels_qd_profiles_url(:format => "pdf"), :action => :get, :class=> "button")%> </td>
        <td class='hide-for-print' style ='vertical-align: top;'> <%= link_to("<span>Get CSV print file</span>", csv_print_file_qd_profiles_url(:format => "csv"), :action => :get, :class=> "button")%> </td> 
    </tr>
</table>
<br />

 
<% if @triggers.blank?%>
 <br />
  No Data Record Found.
<% else %>
  <table class='listing'>
   <tr>
       <th> <%= remote_order_by_link(:created_at,:text => "Click on date to view records") %> </th>
       <th> <%= remote_order_by_link(:order_number, :text => "Order No") %> </th>
       <th> <%= remote_order_by_link(:total_records, :text => "Records")%> </th>
       <th> <%= remote_order_by_link(:marked, :text => "Status") %> </th>
       <th> Marked? </th>
       <th> Mark data </th>
   </tr>
   <% @triggers.each do |trigger| %>
       <tr>
         <td> <b> <%= link_to_remote "#{Time.parse(trigger.created_at.to_s).strftime('%m/%d/%Y')}", :url => qd_profiles_url, :method => :get, :with => "'tid=' + #{trigger.id}" %> </td> </b>
         <td> <%= trigger.order_number %> </td>
         <td> <%= trigger.total_records %> </td>
         <td> <%= (trigger.marked == 'yes' ||  trigger.marked == 'printed') ? (trigger.marked == 'printed'? 'Admin printed': 'Admin marked') : 'New' -%> </td>
         <td> <%= trigger.dealer_marked == 'yes'? 'Yes' : (trigger.dealer_marked == 'printed'? 'Printed' : 'No')-%> </td>
         <td> 
            <% unless trigger.dealer_marked == 'yes'%>
               <% link_text = trigger.dealer_marked == 'printed' ? 'Re-Mark data' : 'Mark data' -%>
               <%= link_to link_text, mark_data_qd_profiles_path(:tid => trigger.id), :confirm => 'This action will MARK all the records. Are you sure?', :method => :post  %> 
            <% else -%>
               <%= link_to "Un-Mark data", unmark_data_qd_profiles_path(:tid => trigger.id), :confirm => 'This action will UN-MARK all the records. Are you sure?', :method => :post  %> 
            <% end -%>
         </td>
      </tr>
   <% end %>

  </table>


  <table class='table-bottom'>
        <tr class="table-footer">

  	    <td><%= remote_per_page_select %></td>

            <td>
                <% form_tag(qd_profiles_path, :method => :get ) do %>
                    <% fields_for @search do |f|%>
                       <%= f.text_field :page, :class => 'textbox-tiny' %>
                        <%= submit_tag 'Go' %>
                    <%end%>
                <%end%>
            </td>

            <td> <% unless  @triggers.blank? %>
                    <div class="pagination">
                       <%= remote_page_links %>
                    </div>
                 <% end %>
            </td>

         </tr>
  </table>
  <% end %>
