<% if @triggers.blank?%>
 <br />
  No Data Record Found.
<% else %>
<% form_tag('#', :id => 'myform') do  %>
  <table class='listing'>
   <tr>
       <th> <input type='checkbox' title ="Check All/Uncheck" name='checkall' onclick='checkedAll();'>  </th>
       <th> <%= remote_order_by_link(:created_at,:text => "Click on date") %> </th>
       <th> <%= remote_order_by_link(:order_number, :text => "Order No") %> </th>
       <th> <%= remote_order_by_link(:total_records, :text => "Records")%> </th>
       <th> <%= remote_order_by_link(:marked, :text => "Status") %> </th>
   </tr>
   <% @triggers.each do |trigger| %>
       <tr class="<%= cycle('odd', 'even') %>">

         <td>  <%= check_box_tag("tid_list[]", trigger.id, false, :id=> trigger.id)%></td>
         <td>
            <div class="calendar-date">
              <span class = 'cal'><%= image_tag("date.png") %></span>
              <%= link_to_remote "#{Time.parse(trigger.created_at.to_s).strftime('%b %d, %Y')}", :url => qd_profiles_url, :method => :get, :with => "'tid=' + #{trigger.id}" %></div>
            </div>
         </td>

         <td> <%= trigger.order_number %> </td>
         <td> <%= trigger.total_records %> </td>
         <td> <%= (trigger.marked == 'yes' ||  trigger.marked == 'printed') ? (trigger.marked == 'printed'? 'Admin printed': 'Admin marked') : 'New' -%> </td>

      </tr>
   <% end %>

  </table>
<%end%>

  <table class='table-bottom'>
        <tr class="table-footer">

  	    <td><%= remote_per_page_select %></td>

            <td>

            </td>

            <td> <% unless  @triggers.blank? %>
                    <div class="pagination">
                       <%= remote_page_links %>
                    </div>
                 <% end %>
            </td>

         </tr>
  </table>
  <% end %>

