
<% content_for :header do -%>
   Listing data <%= "[Order details, #{@header_text}]" %>
<% end -%>

<div id='trigger_qd_profile-list' >

<table cellspacing=0 cellpadding=0 id='top-buttons'>
    <tr><td style ='vertical-align: middle;'> <span style ="color: #04376E;"><b> Act on selected data: &nbsp; </b></span> </td>
       <td style ='vertical-align: top;'>

       <%= link_to_function("<span>Print with background </span>","print_with_background();" , :class=> "button")%>   </td>
       <td style ='vertical-align: top;'> <%= link_to_function("<span>Print without background</span>", "print_without_background()", :class=> "button")%> </td>
       <td style ='vertical-align: top;'> <%= link_to_function("<span>Print labels</span>", "print_labels();", :class=> "button")%> </td>
        <td style ='vertical-align: top;'> <%= link_to_function("<span>Get CSV print file</span>", "print_csv_file();", :class=> "button")%> </td>
    </tr>
    <tr>
        <td COLSPAN = "5"><p style="color: #EB2C25"><%= 'There are data records pending append. Please refresh after some time to know the status, before generating print file.' unless @pending_append  %> </p></td>
    </tr>
</table>
<br />

 <div id = 'top-links' >
   <span id = 's'>
     <%= image_tag('zoom.png') %><%= link_to_function 'Show search bar', "Element.show('search-bar'); Element.show('h'); Element.hide('s'); return false;" %>
   </span>

   <span id = 'h' style ="display:none">
      <%= link_to_function "Hide search bar", "Element.hide('search-bar'); Element.show('s'); Element.hide('h');return false;" %>
   </span>


 </div>
 <div class='clear'> </div>
   <div id = 'search-bar' style ="display:none"> <%=render :partial=> 'filters'%> </div>
<br />
  <div id='qd_profile-list'>
     <%=render :partial=> 'trigger_list'%>
  </div>
</div>

<script>
function print_with_background(){
  document.forms['myform'].action="/qd_profiles/print_file.pdf";
  var hiddenField = document.createElement("input");
  hiddenField.setAttribute("type", "hidden");
  hiddenField.setAttribute("name", 's');
  hiddenField.setAttribute("value", true);
  document.forms['myform'].appendChild(hiddenField); //add s= true to form

  document.forms['myform'].method = "get";
  document.forms['myform'].submit();
  document.forms['myform'].removeChild(hiddenField); //remove s= true from form
}
function print_without_background() {
  document.forms['myform'].action="/qd_profiles/print_file.pdf";
  document.forms['myform'].method = "get";
  document.forms['myform'].submit();
}
function print_labels() {
  document.forms['myform'].action="/qd_profiles/print_labels.pdf";
  document.forms['myform'].method = "get";
  document.forms['myform'].submit();
}
function print_csv_file() {
  document.forms['myform'].action="/qd_profiles/csv_print_file.csv";
  document.forms['myform'].method = "get";

  document.forms['myform'].submit();
}
</script>

