
<% content_for :header do -%>
   Data set for, <%= "#{current_user.profile.name}. [Orders, #{@header_text}]" %>
<% end -%>

<div id='trigger_qd_profile-list' >
  <%= link_to_function "Show Search Bar",
			" Element.show('search-bar'); return false;"
			%> &nbsp;&nbsp; |&nbsp;&nbsp;
			<%= link_to_function "Hide Search Bar",
			"Element.hide('search-bar'); return false;"
			%>
  <div id = 'search-bar' style ="display:none"> <%= render :partial => 'filters' %> </div>

  <div id='qd_profile-list'>
     <%=render :partial=> 'trigger_list'%>
  </div>
</div>
