
<% form_for(:dealer_field,:url=>admin_dealer_dealer_field_path(@dealer),:html => { :method => :put }) do |f| %>
<h3> QD Fields which can be shown to dealer when he logged in to the system. </h3><br/>
<table class = 'form-table'>

   <tr><td> <%= check_box_tag("dealer_fields[]", 'listid', @fields.include?("listid") ) %></td><th>List ID</th></tr>
   <tr> <td><%= check_box_tag("dealer_fields[]", 'fname', @fields.include?("fname"))%> </td><th>First Name</th></tr>
   <tr> <td> <%= check_box_tag("dealer_fields[]", 'mname', @fields.include?("mname"))%></td><th> Middle Name</th></tr>
   <tr> <td><%= check_box_tag("dealer_fields[]", 'lname', @fields.include?("lname"))%> </td><th> Last Name </th></tr>
   <tr> <td><%= check_box_tag("dealer_fields[]", 'suffix', @fields.include?("suffix"))%> </td><th> Suffix</th></tr>
   <tr> <td> <%= check_box_tag("dealer_fields[]", 'address', @fields.include?("address"))%></td><th> Address</th></tr>
   <tr> <td><%= check_box_tag("dealer_fields[]", 'city', @fields.include?("city"))%> </td><th> City</th></tr>
   <tr> <td> <%= check_box_tag("dealer_fields[]", 'state', @fields.include?("state"))%></td><th> State</th></tr>
   <tr> <td> <%= check_box_tag("dealer_fields[]", 'zip', @fields.include?("zip"))%></td><th> Zip</th></tr>
   <tr> <td><%= check_box_tag("dealer_fields[]", 'zip4', @fields.include?("zip4"))%> </td><th> Zip4</th></tr>
   <tr> <td> <%= check_box_tag("dealer_fields[]", 'crrt', @fields.include?("crrt"))%></td><th> Crrt</th></tr>
   <tr> <td><%= check_box_tag("dealer_fields[]", 'dpc', @fields.include?("dpc"))%> </td><th> Dpc</th></tr>
   <tr> <td> <%= check_box_tag("dealer_fields[]", 'phone_num', @fields.include?("phone_num"))%> </td><th> Phone Number </th></tr>

</table><br/>
  <%=f.submit "update" %>
  <br/>
 <%= link_to "Back" , admin_dealers_url %>

<%end%>
