<% content_for :header do -%>
  Account Detail For <%= ":#{@dealer.profile.name} [Orders Starting balance: #{@dealer.profile.starting_balance} , Current balance: #{@dealer.profile.current_balance} ]" %>
<% end -%>

<%form_tag( new_admin_dealer_dealer_account_path(@dealer), :method=>:get) do %>
<br />

<table class ="form-table">
  <tr><th> Starting Balance :</th>
      <td><%= text_field_tag "start_balance" , '' ,:class => "textbox" %> </td>
      <td> <%= submit_tag "Reset" %> </td>
  </tr>
</table>

<br />
<%end%>


   <% unless @trigger_details.blank? %>
     <table class='listing'>
         <tr> <th> Trigger Detail Imported On </th>
       <th> Previous Balance </th>
       <th> Total Records </th>
       <th> Balance</th>
    </tr>
    <% @trigger_details.each do |trigger| %>
      <tr>
          <td> <%=h Time.parse(trigger.created_at.to_s).to_date %>  </td>
          <td> <%= (trigger.balance+trigger.total_records) %></td>
          <td><%=h trigger.total_records %></td>
          <td> <%=h  trigger.balance %></td>
          </tr>

    <%end%>
   </table>

   <%else%>
   <table class='listing'>
     <tr> <th> Trigger Detail Imported On </th>
       <th> Previous Balance </th>
       <th> Total Records </th>
       <th> Balance</th>
   </tr></table><br/>
     <b>No Account Detail for Dealer</b>
   <%end%>
