<% content_for :header do %>
   Listing all appended data. File name: <%= @data_append.csv_file_name %>
<% end -%>

<table class='listing'>
  <tr>
    <th> First Name </th>
    <th> Last Name </th>
    <th> Full address </th>
    <th> Phone </th>
    <% if @data_append.product == 'ph' %>
      <th> Compiled Landline </th>
      <th> DA Landline </th>
      <th> Mobile </th>
    <%else-%>
       <% unless @data_append.product == 'ncoa' %>
        <th> <%= DataAppend::AppendProductDisplay[@data_append.product] %> </th>
       <%end-%>  
    <%end-%>
  </tr>

<% @appended_qd_profiles.each do |appended_qd_profile| %>
  <% profile = appended_qd_profile.qd_profile %>
  <tr>
    <td> <%=h profile.fname %> </td>
    <td> <%=h profile.lname  %>
    <td> <%=h profile.full_addrress %> </td>
    <td> <%=h profile.phone_num %> </td>

    <%if @data_append.product == 'ph' %>
      <td> <%=h profile.compiled_landline %> </td>
      <td> <%=h profile.da_landline %> </td>
      <td> <%=h profile.mobile %> </td>
    <%elsif @data_append.product == 'em' %>
      <td> <%=h profile.email %> </td>
    <%end-%>

   </tr>
<% end %>
</table>

<br />

