<% content_for :header do %>
   Listing all appended data. File name: <%= @data_append.csv_file_name %>
<% end -%>

<table class='listing'>
  <tr>
    <th> First Name </th>
    <th> Last Name </th>
    <th> Full address </th>
    <th> Phone </th>
    <th> Appended landline </th>
  </tr>

<% @appended_qd_profiles.each do |appended_qd_profile| %>
  <% profile = appended_qd_profile.qd_profile %>
  <tr>
    <td> <%=h profile.fname %> </td>
    <td> <%=h profile.lname  %>
    <td> <%=h profile.full_addrress %> </td>
    <td> <%=h profile.phone_num %> </td>
    <td> <%=h profile.appended_landline %> </td>
   </tr>
<% end %>
</table>

<br />

