<% content_for :header do -%>
  Marked Data For Dealer : <%=h  @dealer.profile.name %>
<% end -%>

<div class="js_option">
			<%= link_to_function "Show Print File Fields",
			"Element.hide('hidden1');
			 Element.show('expand');"
			%> |
				<%= link_to_function "Hide",
			"Element.hide('expand');
			 Element.show('hide');"
			%>
		</div> <br/>
<div id="expand" style="display: none" >
<%form_tag admin_print_file_fields_path, :method=>:post do %>
<table class ="form-table">
<input id="dealer_id" name="dealer[id]" type="hidden" value="<%= @dealer.id %>" />
  <tr> <th> Identifier </th> <th>Label </th> <th> value </th> </tr>
  <tr><th> Variable Data 1</th>
      <% if @variable_data_1.blank? %>
      <td> <%= text_field_tag "variable_data_1[label]" ,"",:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_1[value]" ,'',:class => "textbox" %> </td></tr>
      <%else%>
       <td> <%= text_field_tag "variable_data_1[label]" ,@variable_data_1.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_1[value]" ,@variable_data_1.value,:class => "textbox" %> </td></tr>
      <%end%>
    <tr><th> Variable Data 2</th>
      <% if @variable_data_2.blank? %>
      <td> <%= text_field_tag "variable_data_2[label]" ,"",:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_2[value]" ,'',:class => "textbox" %> </td></tr>
      <%else%>
       <td> <%= text_field_tag "variable_data_2[label]" ,@variable_data_2.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_2[value]" ,@variable_data_2.value,:class => "textbox" %> </td></tr>
      <%end%>

      <tr><th> Variable Data 3</th>
      <% if @variable_data_3.blank? %>
      <td> <%= text_field_tag "variable_data_3[label]" ,"",:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_3[value]" ,'',:class => "textbox" %> </td></tr>
      <%else%>
       <td> <%= text_field_tag "variable_data_3[label]" ,@variable_data_3.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_3[value]" ,@variable_data_3.value,:class => "textbox" %> </td></tr>
      <%end%>

  <tr><th> Variable Data 4</th>
      <% if @variable_data_4.blank? %>
      <td> <%= text_field_tag "variable_data_4[label]" ,"",:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_4[value]" ,'',:class => "textbox" %> </td></tr>
      <%else%>
       <td> <%= text_field_tag "variable_data_4[label]" ,@variable_data_4.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_4[value]" ,@variable_data_4.value,:class => "textbox" %> </td></tr>
      <%end%>
  <tr> <th>Variable Data 5</th>
   <% if @variable_data_5.blank? %>
      <td><%= text_field_tag "variable_data_5[label]",'',:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_5[value]" ,'',:class => "textbox" %> </td></tr>
     <%else%>
     <td><%= text_field_tag "variable_data_5[label]",@variable_data_5.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_5[value]" ,@variable_data_5.value,:class => "textbox" %> </td></tr>
     <%end%>

  <tr> <th>Variable Data 6</th>
  <% if @variable_data_6.blank? %>
      <td><%= text_field_tag "variable_data_6[label]" ,'',:class => "textbox"%> </td>
      <td> <%= text_field_tag "variable_data_6[value]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_6[label]",@variable_data_6.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_6[value]" ,@variable_data_6.value,:class => "textbox" %> </td></tr>
      <%end%>
  <tr><th> Variable Data 7</th>
  <% if @variable_data_7.blank? %>
      <td> <%= text_field_tag "variable_data_7[label]" ,'',:class => "textbox"%></td>
      <td> <%= text_field_tag "variable_data_7[value]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_7[label]",@variable_data_7.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_7[value]" ,@variable_data_7.value,:class => "textbox" %> </td></tr>
      <%end%>
  <tr> <th>Variable Data 8</th>
  <% if @variable_data_8.blank? %>
      <td> <%= text_field_tag "variable_data_8[label]",'',:class => "textbox" %></td>
      <td> <%= text_field_tag "variable_data_8[value]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_8[label]",@variable_data_8.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_8[value]" ,@variable_data_8.value,:class => "textbox" %> </td></tr>
      <%end%>
  <tr><th> Variable Data 9</th>
  <% if @variable_data_9.blank? %>
      <td><%= text_field_tag "variable_data_9[label]" ,'',:class => "textbox"%> </td>
      <td> <%= text_field_tag "variable_data_9[value]" ,'',:class => "textbox" %></td></tr>
      <%else%>
      <td><%= text_field_tag "variable_data_9[label]",@variable_data_9.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_9[value]" ,@variable_data_9.value,:class => "textbox" %> </td> </tr>
      <%end%>
      <tr><th> Variable Data 10</th>
      <% if @variable_data_10.blank? %>
      <td> <%= text_field_tag "variable_data_10[label]" ,"",:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_10[value]" ,'',:class => "textbox" %> </td></tr>
      <%else%>
       <td> <%= text_field_tag "variable_data_10[label]" ,@variable_data_10.label,:class => "textbox" %> </td>
      <td><%= text_field_tag "variable_data_10[value]" ,@variable_data_10.value,:class => "textbox" %> </td></tr>
      <%end%>

         <tr> <th> Identifier </th><td colspan=2> Text Body 1</td></tr>
         <% if @text_body_1.blank? %>
           <tr> <th> label </th><td colspan=2> <%= text_field_tag "text_body_1[label]" ,"",:class => "textbox" %> </td></tr>
           <tr> <th> Value</th><td colspan=2><%= text_area_tag "text_body_1[value]" ,'',:class => "textbox" %> </td></tr>
         <%else%>
           <tr> <th> label </th><td colspan=2> <%= text_field_tag "text_body_1[label]" ,@text_body_1.label,:class => "textbox" %> </td></tr>
           <tr> <th> Value</th><td colspan=2><%= text_area_tag "text_body_1[value]" ,@text_body_1.value,:class => "textbox" %> </td></tr>
         <%end%>

          <tr> <th> Identifier </th><td colspan=2> Text Body 2</td></tr>
         <% if @text_body_2.blank? %>
           <tr> <th> label </th><td colspan=2> <%= text_field_tag "text_body_2[label]" ,"",:class => "textbox" %> </td></tr>
           <tr> <th> Value</th><td colspan=2><%= text_area_tag "text_body_2[value]" ,'',:class => "textbox" %> </td></tr>
         <%else%>
           <tr> <th> label </th><td colspan=2> <%= text_field_tag "text_body_2[label]" ,@text_body_2.label,:class => "textbox" %> </td></tr>
           <tr> <th> Value</th><td colspan=2><%= text_area_tag "text_body_2[value]" ,@text_body_2.value,:class => "textbox" %> </td></tr>
         <%end%>

          <tr> <th> Identifier </th><td colspan=2> Text Body 3</td></tr>
         <% if @text_body_3.blank? %>
           <tr> <th> label </th><td colspan=2> <%= text_field_tag "text_body_3[label]" ,"",:class => "textbox" %> </td></tr>
           <tr> <th> Value</th><td colspan=2><%= text_area_tag "text_body_3[value]" ,'',:class => "textbox" %> </td></tr>
         <%else%>
           <tr> <th> label </th><td colspan=2> <%= text_field_tag "text_body_3[label]" ,@text_body_3.label,:class => "textbox" %> </td></tr>
           <tr> <th> Value</th><td colspan=2><%= text_area_tag "text_body_3[value]" ,@text_body_3.value,:class => "textbox" %> </td></tr>
         <%end%>

      <tr> <th> Select Template </th> <td colspan=2>
<%= radio_button_tag ('template', 'template1' , @dealer_template.value.include?('template1') ) %>
<%= image_tag("template4.png", :size => "75x100", :alt => "Template 1")  %>

<%= radio_button_tag ('template', 'template2' , @dealer_template.value.include?('template2') ) %>
<%= image_tag("template5.jpg", :size => "75x100", :alt => "Template 2")  %>
<%= radio_button_tag ('template', 'template3', @dealer_template.value.include?('template3') )%>
<%= image_tag("template6.jpg", :size => "75x100", :alt => "Template 3")  %>

</td> </tr>

</table>

 <br/>

      <%= submit_tag "save" %>

<%end%>
</div>
<div id="hidden1">
</div>

<br/>
<% unless @marked_dates.blank? %>

 <%form_tag ("/admin/print_data/mark_data_for_printed", :id => 'myform' ,:method=>:post) do %>
      <input id="dealer_id" name="dealer[id]" type="hidden" value="<%= @dealer.id %>" />
      <% @marked_dates.each do |date| %>
        <b><%=h date %> </b>
           <% qd_profiles = find_qd_profile_for_date(date) %>
           <%unless qd_profiles.blank?%>
            <table class='listing'>
              <tr> <th><input type='checkbox' title ="Check All/Uncheck" name='checkall' onclick='checkedAll();'>  </th>
               <th> Imported on </th> <th> Order No</th><th> First Name</th><th>Last Name</th> <th> Address </th>
               <th> City </th><th> State </th><th> Zip </th> <th> Crrt </th><th>Dealer </th><th> Status</th>
              </tr>
              <% qd_profiles.each do |profile| %>
               <tr class="<%= cycle('odd', 'even')%>">
                  <td> <%= check_box_tag("profiles[]", profile.id, true)%></td>
                  <td> <%=h Time.parse(profile.created_at.to_s).to_date %> </td>
                  <td> <%=h TriggerDetail.find(profile.trigger_detail_id).order_number %> </td>
                  <td> <%=h profile.fname %> </td>
                  <td> <%=h profile.lname  %>
                  <td> <%=h profile.address %> </td>
                  <td> <%=h profile.city %> </td>
                  <td> <%=h profile.state %> </td>
                  <td> <%=h profile.zip %> </td>
                  <td> <%=h profile.crrt %> </td>
                  <td> <%=h profile.dealer.profile.name %> </td>
                  <td> <%=h profile.status%></td>
              </tr>
             <%end%>
            </table>
           <%end%>
         <%end%>

         <%= submit_tag "Generate CSV Print File"%>
   <%end%>
   <%else%>
      No Records Found.
   <%end%>
