
<% form_tag('/admin/users/update_admin_setting') do -%>
  <table class = 'form-table'></table><br />
  <b><%=h @admin_setting.identifier.humanize %> :</b> <br /><br />
   
   <%if @admin_setting.identifier =~ /mail/%>
      <label> <b> Mail Subject </b> </label>
      <br />
      <%= text_field_tag("subject[value]", @subject.blank? ? '' : @subject.value, :class => 'textbox-wide') %> 
      <input id="subject_id" name="subject[id]" type="hidden" value="<%= @subject.id %>" /><br /><br />
      <label> <b> Mail Body </b> </label><br />
   <% end %>
   <%= fckeditor_textarea("admin_setting", "value" , :toolbarSet => "Simple", :width => '100%', :height => '200px' ) %> <br />

   <input id="user_id" name="user[id]" type="hidden" value="<%= @user.id %>" />
   <input id="adminsetting_id" name="adminsetting[id]" type="hidden" value="<%= @admin_setting.id %>" /><br />
   
   <table><tr> <td> <%= submit_tag "Save Content"%> </td> 
               <%if @admin_setting.identifier =~ /mail/%>
                  <td> <%= link_to "<span> Send Mail </span>", "/admin/robot/#{@admin_setting.identifier}?id=#{@user.id}", :class => 'button' %> </td>
               <% end %>
          </tr>
   </table>
                
<%end-%> 
<br />
<br />
