<% content_for :header do -%>
 	<%= configatron.site_name %> Account for <em><%=h @user.login %></em> & application specific settings.
<% end -%>

<table class="form-display">

    <tr>
    <td> <b> Site Image </td>

    <td >
       <%= image_tag (@site_image.site_image.url(:thumb)) unless  @site_image.blank?  %>
    </td>
    </tr>

    <tr>
    <td colspan=2>
       <% form_for(:site_image, :url => user_image_admin_user_path(@user.id), :html => { :multipart => true  } )do |f| %>
          <%= f.file_field  :site_image  %>
         <%= f.submit  "Change Image"%>
       <% end %>
    </td>

	<%= cell "Login", "#{in_place_editor_field :user, 'login'}" %>
	<%= cell "User ID", h(@user.id) %>

	<%= cell_separator %>

	<%= cell "Email", "#{in_place_editor_field :user, 'email'}" %>
	<%= cell "Password", "#{"*"*8} <small>#{link_to_if !@user.deleted?, "send new password", reset_password_admin_user_url(@user), :method => :put}</small>" %>

	<%= cell_separator %>

	<%= cell "Account created", @user.created_at.to_s(:long) %>
	<%= cell "Last updated", @user.updated_at.to_s(:long) %>
</table>
<br />
<hr />
<%= link_to_remote "Home Page Content" ,:url => { :controller => "admin/users" ,:action => :dispaly_application_setting ,:identifier =>"home_page_content" ,:id =>@user.id} , :indicator => 'default'%> <b>| </b>

<%= link_to_remote "Administrator Email" ,:url => { :controller => "admin/users" ,:action => :dispaly_application_setting ,:identifier =>"admin_email",:id =>@user.id}, :indicator => 'default' %> <b>| </b>

<%= link_to_remote "Active Dealer Email" ,:url => { :controller => "admin/users" ,:action => :dispaly_application_setting ,:identifier =>"active_dealer_email",:id =>@user.id} , :indicator => 'default'%> <b>| </b>

<%= link_to_remote "Inactive Dealer Email" ,:url => { :controller => "admin/users" ,:action => :dispaly_application_setting ,:identifier =>"inactive_dealer_email",:id =>@user.id} , :indicator => 'default'%> <b>| </b>

<%= link_to_remote "Disclaimer Content" ,:url => { :controller => "admin/users" ,:action => :dispaly_application_setting ,:identifier =>"disclaimer_content",:id =>@user.id}, :indicator => 'default' %> <b>| </b>

<%= link_to_remote "Seekerinc Process Instructions" ,:url => { :controller => "admin/users" ,:action => :dispaly_application_setting ,:identifier =>"seekerinc_process_instructions",:id =>@user.id} , :indicator => 'default'%><b>| </b>

<%= link_to_remote "Tranzact Process Instructions" ,:url => { :controller => "admin/users" ,:action => :dispaly_application_setting ,:identifier =>"tranzact_process_instructions",:id =>@user.id}, :indicator => 'default' %>
<%= indicator :id => 'default' %>
<div id="application_settings">

</div>

<br />
<br />
<br />
