<% content_for :header do -%>
 	<%= configatron.site_name %> Account for <em><%=h @user.login %></em>
<% end -%>

<% content_for :sidebar do -%>

<h2>Account status: <%= @user.state.to_s.humanize %></h2>

<ul>
	<% if @user.pending? -%>
		<li><%= link_to "Activate", activate_admin_user_url(@user), :method => :put %></li>
		<li><%= link_to "Suspend", suspend_admin_user_url(@user), :method => :put %></li>
		<li><%= link_to "Delete", admin_user_url(@user), :method => :delete %></li>
	<% end -%>

	<% if @user.suspended? -%>
		<li><%= link_to "Unsuspend", unsuspend_admin_user_url(@user), :method => :put %></li>
	<% end -%>

	<% if @user.active? -%>
		<li><%= link_to "Suspend", suspend_admin_user_url(@user), :method => :put %></li>
		<li><%= link_to "Delete", admin_user_url(@user), :method => :delete, :confirm => "Are you sure you want to delete this account?" %></li>
	<% end -%>

	<% # TODO: Uncomment to enable user purging by the administrator %>
	<!--
	<% if @user.deleted? -%>
		<li><%= link_to "Purge", purge_admin_user_url(@user), :method => :delete, :confirm => "Are you sure you want to remove this account, and all data associated with it from base_app?" %></li>
	<% end -%>
    -->
</ul>
<% end -%>

<table class="overview">
	<%= cell "Login", "#{in_place_editor_field :user, 'login'}" %>
	<%= cell "User ID", h(@user.id) %>

	<%= cell_separator %>

	<%= cell "Email", "#{in_place_editor_field :user, 'email'}" %>
	<%= cell "Password", "#{"*"*8} <small>#{link_to_if !@user.deleted?, "send new password", reset_password_admin_user_url(@user), :method => :put}</small>" %>

	<%= cell_separator %>

	<%= cell "Account created", @user.created_at.to_s(:long) %>
	<%= cell "Last updated", @user.updated_at.to_s(:long) %>
</table>


<% form_tag('/admin/users/admin_setting') do -%>
  <table class = 'form-table'></table>
  <b> Home Page Text : </b><%= fckeditor_textarea("admin_setting","home_text" , :toolbarSet => "Simple", :width => '100%', :height => '200px' ) %>
   <input id="user_id" name="user[id]" type="hidden" value="<%=@user.id%>" />
<%= submit_tag "Save Home Page Text"%>
<%end-%>
<br />
<br />

<% form_tag('/admin/users/admin_setting') do -%>
  <table class = 'form-table'></table>
    <b>Admin Email Setting : </b> <%= fckeditor_textarea("admin_setting","admin_email" , :toolbarSet => "Simple", :width => '100%', :height => '200px' ) %>
   <input id="user_id" name="user[id]" type="hidden" value="<%=@user.id%>" />
<%= submit_tag "Save Admin Email Setting"%>
<%end-%>
<br />
<br />

<% form_tag('/admin/users/admin_setting') do -%>
   <table class = 'form-table'></table>
    <b> Active Dealer Email: </b> <%= fckeditor_textarea("admin_setting","active_dealer_email" , :toolbarSet => "Simple", :width => '100%', :height => '200px' ) %>
     <input id="user_id" name="user[id]" type="hidden" value="<%=@user.id%>" />
     <%= submit_tag "Save Active Dealer Email"%>
<%end-%>

<br />
<br />

<% form_tag('/admin/users/admin_setting') do -%>
  <table class = 'form-table'></table>
  <b> Inactive Dealer Email :</b> 
   <%= fckeditor_textarea("admin_setting","inactive_dealer_email" , :toolbarSet => "Simple", :width => '100%', :height => '200px' ) %>
   <input id="user_id" name="user[id]" type="hidden" value="<%=@user.id%>" />
   <%= submit_tag "Save Inactive Dealer Email"%>
<%end-%>
<br />
<br />


