<% unless @dealer_profile.blank? %>
  <HTML> 
     <style type="text/css"> 
         <!-- a {color: #3B768C} --> 
     </style> 
     <BODY> 
       <br /> <br />
       <center> 
       <table width=100% style="font-family:Tahoma;font-size:13px; border:3px solid #1083C5;" cellpadding="0" cellspacing="0"> 
       <tr bgcolor="#2594D3"> 
           <td style="padding:10px; color:#fff; text-transform:uppercase;font-size:14px" align=center><b> Qucik Data Robot Account Information</b>
           </td> 
       </tr> 

       <tr> <td style="border:3px solid #93C7E4; font-size:12px; background-color:#F2F8FF; color:#500050; padding:25px 30px 25px 30px"> 
         <p> Dear <span style = "color:= #00417A; font-weight: bold"> <%= @dealer_profile.name %>,</span></p> <br/> 
         <p> There is a fresh set of data available on QD Robot. Here is the details.</p><br/> <br/>
         <p> Order number: <b> <%= @order %> </b> </p><br/>  
         <p> Total no of latest records available: <b> <%= @total %> </b> </p><br/>
         <p> Remaining balance: <b> <%= @balance %> </b> </p><br/>

         <%if @balance.to_i < 200 %>
            <p> Your remaining balance is below 200. Please Re-order. </p>
         <% end %>
        
         <p> Data is available with this mail as attachment, for your ready reference. However you can login to QD Robot to view and manipulate data: <br /> <strong><%= "http://#{configatron.site_url}/login" %> </strong></p>
         
        </td> 
    </table>
</center> 
    <br /><br />
    Best regards, <br />
    --------------------------<br />
    <p> The <%= configatron.site_name %> Team. </p>
    <p> Powered by <%= configatron.site_name %> </p>
        <% admin = @dealer_profile.user.administrator %>
        <% unless admin.blank?%> 
            <img src= '<%= "http://#{configatron.site_url}#{admin.administrator_profile.administrator_logo.url(:thumb)}" %>' />  <br />
            <table>
  
             <tr> <td> Name :</td>  <td> <%=h "#{admin.administrator_profile.first_name} #{admin.administrator_profile.mid_name} #{admin.administrator_profile.last_name}" %> </td> </tr>
             <tr> <td> Email :</td> <td> <%=h admin.email %> </td> </tr>
             <tr> <td> Address : </td>  <td><%=h admin.address.address %></td> </tr>
             <tr> <td> City : </td>  <td> <%=h admin.address.city %></td> </tr>
             <tr> <td> State :</td> <td> <%=h admin.address.state %></td> </tr>
             <tr> <td> Zip : </td>  <td> <%=h admin.address.postal_code %> </td> </tr>
             <tr> <td> Phone Number : </td>  <td><%=h "#{admin.administrator_profile.phone_1} - #{admin.administrator_profile.phone_2} - #{admin.administrator_profile.phone_3}" %> </td> </tr>
             <tr> <td> Fax : </td>  <td> <%=h admin.administrator_profile.fax %></td> </tr>
         </table>
        <% else %>
            <img src= '<%= "http://#{configatron.site_url}#{SiteImage.find(:first).site_image.url(:thumb)}" %>' /> 
        <% end %>
      
  </BODY>
</HTML>

<% end %>






