<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= configatron.site_name %></title>
    <%= javascript_include_merged :base  %>

    <%= javascript_include_tag :fckeditor %>
    <%= calendar_date_select_includes  %>
  	<%= stylesheet_link_merged :base, 'calendar/option2- blue/style' ,'facebox' %>
	<!--[if lte IE 6]>
	  <%= stylesheet_link_tag 'ie6.css', media="screen" %>
    <![endif]-->


		<script type="text/javascript">
      checked = false;
      function checkedAll () {
        if (checked == false){checked = true}else{checked = false}
	for (var i = 0; i < document.getElementById('myform').elements.length; i++) {
	  document.getElementById('myform').elements[i].checked = checked;
	}
      }
    </script>

</head>

<body>

  <div id="header">
    <h1>Quick Data <span>Robot</span></h1>

    <div id="global_links">
      <%= render :partial => 'shared/global_links' %>
    </div>

    <div id="menu">
      <%= render :partial => 'shared/links' %>
    </div>

  </div>

  <div id="main">
      <p class="head"><%= yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title" %></p>
      <div id="screen">
        <%= flash_message %>
        <%= yield %>
      </div>
  </div>

  <div id= "footer">
      Copyright © <%= configatron.company_name %> &nbsp; &nbsp;  | &nbsp; &nbsp;  Powered by <%= link_to "isiri Technologies Pvt. Ltd.", "http://isiritech.com" , {:target => "_blank" }%>
  </div>
  <br />
  <br />


</body>
</html>
