<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= configatron.site_name %></title>
	
	<%= stylesheet_link_merged :admin,'facebox' %>
  	<%= javascript_include_merged :base,'facebox' %>
        <%= javascript_include_tag 'jquery-1' %> 
        <script type="text/javascript">
           jQuery.noConflict();
        </script>
        <script type="text/javascript">
          $(function() {
             jQuery("file").filestyle({ 
             image: "choose-file.gif",
             imageheight : 22,
             imagewidth : 82,
             width : 550
             });
           });
        </script>
</head>

<body>

  <div id="header">
    <h1><%= configatron.site_name %></h1>

    <div id="global_links">
      <%= render :partial => 'shared/global_links' %>
    </div>

    <div id="menu">
      <%= render :partial => 'shared/links' %>
    </div>

  </div>

  <div id="main">


      <%= flash_message %>

     <h3 class="head"><%= yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title" %></h3>

      <div id="screen">
        <%= yield %>
      </div>

    
  </div>

  <div id= "footer">
      Copyright © <%= configatron.company_name %> &nbsp; &nbsp;  | &nbsp; &nbsp;  Powered by ISIRI Technologies Ltd
  </div>


</body>
</html>
